Repository opensearch-project/ml-commons, pull requests merged in 2022-06, with the labels that each got.

#330 refactor stats API
  common/src/main/java/org/opensearch/ml/common/output/execute/anomalylocalization/AnomalyLocalizationOutput.java
  plugin/src/main/java/org/opensearch/ml/action/stats/MLStatsNodeRequest.java
  plugin/src/main/java/org/opensearch/ml/action/stats/MLStatsNodeResponse.java
  plugin/src/main/java/org/opensearch/ml/action/stats/MLStatsNodesRequest.java
  plugin/src/main/java/org/opensearch/ml/action/stats/MLStatsNodesResponse.java
  plugin/src/main/java/org/opensearch/ml/action/stats/MLStatsNodesTransportAction.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLStatsAction.java
  plugin/src/main/java/org/opensearch/ml/rest/RestStatsMLAction.java
  plugin/src/main/java/org/opensearch/ml/stats/ActionName.java
  plugin/src/main/java/org/opensearch/ml/stats/InternalStatNames.java
  plugin/src/main/java/org/opensearch/ml/stats/MLActionLevelStat.java
  plugin/src/main/java/org/opensearch/ml/stats/MLActionStats.java
  plugin/src/main/java/org/opensearch/ml/stats/MLAlgoStats.java
  plugin/src/main/java/org/opensearch/ml/stats/MLClusterLevelStat.java
  plugin/src/main/java/org/opensearch/ml/stats/MLNodeLevelStat.java
  plugin/src/main/java/org/opensearch/ml/stats/MLStatLevel.java
  plugin/src/main/java/org/opensearch/ml/stats/MLStats.java
  plugin/src/main/java/org/opensearch/ml/stats/MLStatsInput.java
  plugin/src/main/java/org/opensearch/ml/stats/StatNames.java
  plugin/src/main/java/org/opensearch/ml/stats/suppliers/IndexStatusSupplier.java
  plugin/src/main/java/org/opensearch/ml/task/MLExecuteTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/task/MLPredictTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/task/MLTaskDispatcher.java
  plugin/src/main/java/org/opensearch/ml/task/MLTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/task/MLTrainAndPredictTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/task/MLTrainingTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/utils/IndexUtils.java
  plugin/src/test/java/org/opensearch/ml/action/stats/MLStatsNodeITTests.java
  plugin/src/test/java/org/opensearch/ml/action/stats/MLStatsNodeRequestTests.java
  plugin/src/test/java/org/opensearch/ml/action/stats/MLStatsNodeResponseTests.java
  plugin/src/test/java/org/opensearch/ml/action/stats/MLStatsNodesRequestTests.java
  plugin/src/test/java/org/opensearch/ml/action/stats/MLStatsNodesResponseTests.java
  plugin/src/test/java/org/opensearch/ml/action/stats/MLStatsNodesTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLStatsActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestStatsMLActionTests.java
  plugin/src/test/java/org/opensearch/ml/stats/MLActionLevelStatTests.java
  plugin/src/test/java/org/opensearch/ml/stats/MLActionStatsTests.java
  plugin/src/test/java/org/opensearch/ml/stats/MLAlgoStatsTests.java
  plugin/src/test/java/org/opensearch/ml/stats/MLStatsInputTests.java
  plugin/src/test/java/org/opensearch/ml/stats/MLStatsTests.java
  plugin/src/test/java/org/opensearch/ml/stats/StatNamesTests.java
  plugin/src/test/java/org/opensearch/ml/stats/suppliers/IndexStatusSupplierTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLExecuteTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLPredictTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTaskDispatcherTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTrainAndPredictTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTrainingTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/TaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/utils/IndexUtilsTests.java
  plugin/src/test/java/org/opensearch/ml/utils/TestHelper.java
Labels: backport 1.x, backport 1.3, backport 2.x, backport 2.0

#336 Release notes for version 1.3.3
  release-notes/opensearch-ml-common.release-notes-1.3.3.0.md
Labels: release, backport 1.x, backport 1.3

#340 bump RCF version to 3.0-rc3
  ml-algorithms/build.gradle
Labels: backport 2.x, backport 2.0

#346 dispatch ML task to ML node first
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/task/MLTaskDispatcher.java
  plugin/src/main/java/org/opensearch/ml/utils/MLNodeUtils.java
  plugin/src/test/java/org/opensearch/ml/task/MLTaskDispatcherTests.java
  plugin/src/test/java/org/opensearch/ml/utils/MLNodeUtilsTests.java
  plugin/src/test/java/org/opensearch/ml/utils/TestHelper.java
Labels: backport 2.x

#350 bump to 2.1
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
Labels: infra

#352 add 2.1 release notes
  release-notes/opensearch-ml-common.release-notes-2.1.0.0.md
Labels: documentation
