Repository opensearch-project/ml-commons, pull requests merged in 2022-10, with the labels that each got.

#455 add release notes for 1.3.6
  release-notes/opensearch-ml-common.release-notes-1.3.6.0.md
Labels: backport 1.x

#458 do not return model content by default
  common/src/main/java/org/opensearch/ml/common/transport/model/MLModelGetRequest.java
  plugin/src/main/java/org/opensearch/ml/action/models/GetModelTransportAction.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLGetModelAction.java
  plugin/src/main/java/org/opensearch/ml/utils/RestActionUtils.java
  plugin/src/test/java/org/opensearch/ml/action/MLCommonsIntegTestCase.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLSearchModelActionTests.java
Labels: backport 2.x

#468 add groupId to pluginzip publication
  plugin/build.gradle
Labels: backport 2.x, v2.4.0

#498 add disk circuit breaker, update deleteModel message format
  common/src/main/java/org/opensearch/ml/common/breaker/BreakerName.java
  common/src/main/java/org/opensearch/ml/common/breaker/DiskCircuitBreaker.java
  common/src/main/java/org/opensearch/ml/common/breaker/MLCircuitBreakerService.java
  common/src/test/java/org/opensearch/ml/common/breaker/MLCircuitBreakerServiceTests.java
  plugin/src/main/java/org/opensearch/ml/action/models/DeleteModelTransportAction.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/task/MLTaskRunner.java
  plugin/src/main/plugin-metadata/plugin-security.policy
  plugin/src/test/java/org/opensearch/ml/action/models/DeleteModelTransportActionTests.java
Labels: enhancement

#511 add test coverage to transportUploadModelAction
  plugin/build.gradle
  plugin/src/test/java/org/opensearch/ml/action/upload/TransportUploadModelActionTests.java
Labels: backport 2.4
