Repository opensearch-project/ml-commons, pull requests merged in 2022-07, with the labels that each got.

#365 Incremented version to 2.1.1.
  build.gradle
Labels: v2.1.1

#363 Staging for version increment automation
  build.gradle
Labels: backport 1.3

#362 Staging for version increment automation
  build.gradle
Labels: backport 2.x, backport 2.0, backport 2.1
