Repository opensearch-project/ml-commons, pull requests merged in 2022-11, with the labels that each got.

#516 add unit tests to improve test coverage in plugin package
  plugin/build.gradle
  plugin/src/test/java/org/opensearch/ml/rest/RestMLCreateModelMetaActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLCustomModelChunkActionIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLLoadModelActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLPredictionActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLProfileActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLUnloadModelActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLUploadModelActionTests.java
Labels: backport 2.4

#536 test coverage ratio changes for build.gradlew in plugin package
  plugin/build.gradle
Labels: test, backport 2.4

#538 add ml-commons release notes for 2.4
  release-notes/opensearch-ml-common.release-notes-2.4.0.0.md
Labels: documentation, v2.4.0, backport 2.4

#542 fix running tasks when circuit breaker is open
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelManagerTests.java
Labels: backport 2.4

#545 fix no permission bug when update index mapping
  plugin/src/main/java/org/opensearch/ml/indices/MLIndicesHandler.java
Labels: bug, backport 2.2, backport 2.3, backport 2.4

#548 add bug fix changes to release notes
  release-notes/opensearch-ml-common.release-notes-2.4.0.0.md
Labels: backport 2.4

#551 wait for upload task to complete in security tests
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
  plugin/src/test/java/org/opensearch/ml/rest/SecureMLRestIT.java
Labels: backport 2.4

#574 Forwarding port changes in 2.4 to main branch (add windows build in CI workflow)
  .github/workflows/CI-workflow.yml
  plugin/src/test/java/org/opensearch/ml/action/custom_model/CustomModelITTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLCustomModelActionIT.java
Labels: infra

#573 change model state to UPLOADED when all chunks uploaded
  plugin/src/main/java/org/opensearch/ml/action/upload_chunk/MLModelChunkUploader.java
  plugin/src/test/java/org/opensearch/ml/action/upload_chunk/MLModelChunkUploaderTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLCustomModelChunkActionIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLUploadModelChunkActionTests.java
Labels: bug, backport 2.4

#580 set model state as unloaded when call unload model API
  plugin/src/main/java/org/opensearch/ml/action/unload/TransportUnloadModelAction.java
Labels: bug, backport 2.4

#585 force protobuf-java version as 3.21.9
  ml-algorithms/build.gradle
  plugin/build.gradle
Labels: backport 1.3, dependencies

#588 force protobuf-java version as 3.21.9
  ml-algorithms/build.gradle
  plugin/build.gradle
Labels: dependencies, backport 2.4
