Repository opensearch-project/ml-commons, pull requests merged in 2022-04, with the labels that each got.

#271 Remove additional vars in build.gradle that are not used
  build.gradle
Labels: release, v2.0.0, infra

#277 Replace handbuilt RCF jar with maven dependency
  ml-algorithms/build.gradle
  ml-algorithms/lib/randomcutforest-core-2.0.1.jar
  ml-algorithms/lib/randomcutforest-parkservices-2.0.1.jar
Labels: dependencies

#278 Add UT for ml rest execute action
  plugin/build.gradle
  plugin/src/test/java/org/opensearch/ml/rest/RestMLExecuteActionTests.java
  plugin/src/test/java/org/opensearch/ml/utils/TestHelper.java
Labels: test

#282 Change 2.0-alpha1 to 2.0-rc1.
  build.gradle
Labels: infra

#281 add coverage badges
  .github/workflows/CI-workflow.yml
  README.md
Labels: documentation, infra

#284 create model/task index with correct mapping
  plugin/src/main/java/org/opensearch/ml/indices/MLIndicesHandler.java
Labels: bug, backport 1.x

#288 reenable docker image tests
  .github/workflows/CI-workflow.yml
Labels: infra, backport 2.x, backport 2.0

#289 bump RCF version to 3.0-rc2.1
  ml-algorithms/build.gradle
Labels: dependencies, backport 2.x, backport 2.0

#295 add 2.0-rc1 release notes
  release-notes/opensearch-ml-common.release-notes-2.0.0.0-rc1.md
Labels: documentation
