Repository opensearch-project/ml-commons, pull requests merged in 2022-08, with the labels that each got.

#387 bump to 2.2
  build.gradle
Labels: infra, v2.2.0

#383 Add Logistic Regression algorithm
  common/src/main/java/org/opensearch/ml/common/FunctionName.java
  common/src/main/java/org/opensearch/ml/common/dataframe/DataFrame.java
  common/src/main/java/org/opensearch/ml/common/dataframe/DefaultDataFrame.java
  common/src/main/java/org/opensearch/ml/common/input/parameter/regression/LogisticRegressionParams.java
  ml-algorithms/build.gradle
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/regression/LogisticRegression.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/contants/TribuoOutputType.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/utils/TribuoUtil.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/regression/LogisticRegressionTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/helper/LogisticRegressionHelper.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/test/java/org/opensearch/ml/action/MLCommonsIntegTestCase.java
  plugin/src/test/java/org/opensearch/ml/action/prediction/PredictionITTests.java
  plugin/src/test/java/org/opensearch/ml/action/training/TrainingITTests.java
Labels: backport 2.x, backport 2.2

#396 2.2 release notes
  release-notes/opensearch-ml-common.release-notes-2.2.0.0.md
Labels: documentation, backport 2.x, backport 2.2

#403 bump to version 3.0
  build.gradle
Labels: infra

#405 upgrade to lucene snapshot
  build-tools/repositories.gradle
Labels: infra
