Repository opensearch-project/ml-commons, pull requests merged in 2022-03, with the labels that each got.

#173 more strict check on input parameters by applying non-coerce mode
  common/src/main/java/org/opensearch/ml/common/parameter/AnomalyDetectionParams.java
  common/src/main/java/org/opensearch/ml/common/parameter/BatchRCFParams.java
  common/src/main/java/org/opensearch/ml/common/parameter/FitRCFParams.java
  common/src/main/java/org/opensearch/ml/common/parameter/KMeansParams.java
  common/src/main/java/org/opensearch/ml/common/parameter/LinearRegressionParams.java
  common/src/main/java/org/opensearch/ml/common/parameter/LocalSampleCalculatorInput.java
  common/src/main/java/org/opensearch/ml/common/parameter/MLModel.java
  common/src/main/java/org/opensearch/ml/common/parameter/SampleAlgoParams.java
  common/src/test/java/org/opensearch/ml/common/TestHelper.java
  common/src/test/java/org/opensearch/ml/common/parameter/KMeansParamsTest.java
  common/src/test/java/org/opensearch/ml/common/parameter/LinearRegressionParamsTest.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/anomalylocalization/AnomalyLocalizationInput.java
Labels: backport 1.x, backport 1.3

#177 fix no permission to create model/task index bug;add security IT for train/predict API
  plugin/src/main/java/org/opensearch/ml/indices/MLIndicesHandler.java
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLGetModelActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/SecureMLRestIT.java
Labels: backport 1.x, backport 1.3

#189 move anomaly localization to the last position to avoid BWC issue
  common/src/main/java/org/opensearch/ml/common/parameter/FunctionName.java
Labels: backport 1.x

#194 add java 8 to CI workflow
  .github/workflows/CI-workflow.yml
  common/src/test/java/org/opensearch/ml/common/dataframe/DefaultDataFrameTest.java
Labels: backport 1.x, backport 1.3

#200 add tasks API in Client
  client/build.gradle
  client/src/main/java/org/opensearch/ml/client/MachineLearningClient.java
  client/src/main/java/org/opensearch/ml/client/MachineLearningNodeClient.java
  client/src/test/java/org/opensearch/ml/client/MachineLearningClientTest.java
  common/src/main/java/org/opensearch/ml/common/transport/task/MLTaskGetResponse.java
Labels: backport 1.x, backport 1.3

#206 add more UT for task manager/runner
  common/src/main/java/org/opensearch/ml/common/parameter/MLTask.java
  plugin/build.gradle
  plugin/src/test/java/org/opensearch/ml/task/MLTaskManagerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTrainAndPredictTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTrainingTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/TaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/utils/TestHelper.java
Labels: backport 1.x

#212 use 1.3.0 docker to run CI
  .github/workflows/CI-workflow.yml
Labels: backport 1.x, backport 1.3, infra

#219 rename the release note file
  release-notes/opensearch-ml-common.release-notes-1.3.0.0.md
Labels: backport 1.x, backport 1.3

#222 add more UT for plugin util class
  plugin/build.gradle
  plugin/src/main/java/org/opensearch/ml/utils/RestActionUtils.java
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
  plugin/src/test/java/org/opensearch/ml/task/MLTrainAndPredictTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTrainingTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/utils/MLNodeUtilsTests.java
  plugin/src/test/java/org/opensearch/ml/utils/RestActionUtilsTests.java
  plugin/src/test/java/org/opensearch/ml/utils/TestData.java
  plugin/src/test/java/org/opensearch/ml/utils/TestHelper.java
Labels: backport 1.x

#226 add more IT for train/predict and train&predict action
  client/src/test/java/org/opensearch/ml/client/MachineLearningNodeClientTest.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/clustering/KMeans.java
  plugin/build.gradle
  plugin/src/test/java/org/opensearch/ml/action/MLCommonsIntegTestCase.java
  plugin/src/test/java/org/opensearch/ml/action/prediction/PredictionITTests.java
  plugin/src/test/java/org/opensearch/ml/action/stats/MLStatsNodeResponseTests.java
  plugin/src/test/java/org/opensearch/ml/action/stats/MLStatsNodesResponseTests.java
  plugin/src/test/java/org/opensearch/ml/action/training/TrainingITTests.java
  plugin/src/test/java/org/opensearch/ml/action/trainpredict/TrainAndPredictITTests.java
  plugin/src/test/java/org/opensearch/ml/params/MLInputTests.java
  plugin/src/test/java/org/opensearch/ml/utils/IntegTestUtils.java
  plugin/src/test/java/org/opensearch/ml/utils/TestData.java
Labels: backport 1.x

#228 add sample unit test for RestMLTrainingAction
  plugin/build.gradle
  plugin/src/test/java/org/opensearch/ml/rest/RestMLTrainingActionTests.java
Labels: backport 1.x, test

#230 add more UT for model/task rest actions, remove support for JDK8
  .github/workflows/CI-workflow.yml
  plugin/build.gradle
  plugin/src/test/java/org/opensearch/ml/rest/RestMLDeleteModelActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLDeleteTaskActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLGetModelActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLGetTaskActionTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLPredictTaskRunnerTests.java
Labels: backport 1.x, test

#232 fix execute request/response serialization/deserialization
  common/src/main/java/org/opensearch/ml/common/MLCommonsClassLoader.java
  common/src/main/java/org/opensearch/ml/common/annotation/ExecuteInput.java
  common/src/main/java/org/opensearch/ml/common/annotation/ExecuteOutput.java
  common/src/main/java/org/opensearch/ml/common/parameter/AnomalyLocalizationInput.java
  common/src/main/java/org/opensearch/ml/common/parameter/AnomalyLocalizationOutput.java
  common/src/main/java/org/opensearch/ml/common/parameter/Counter.java
  common/src/main/java/org/opensearch/ml/common/parameter/LocalSampleCalculatorInput.java
  common/src/main/java/org/opensearch/ml/common/parameter/LocalSampleCalculatorOutput.java
  common/src/main/java/org/opensearch/ml/common/parameter/MLInput.java
  common/src/main/java/org/opensearch/ml/common/parameter/MLOutput.java
  common/src/main/java/org/opensearch/ml/common/transport/execute/MLExecuteTaskRequest.java
  common/src/main/java/org/opensearch/ml/common/transport/execute/MLExecuteTaskResponse.java
  common/src/main/java/org/opensearch/ml/common/transport/training/MLTrainingTaskRequest.java
  common/src/test/java/org/opensearch/ml/common/MLCommonsClassLoaderTests.java
  common/src/test/java/org/opensearch/ml/common/parameter/AnomalyLocalizationInputTests.java
  common/src/test/java/org/opensearch/ml/common/parameter/AnomalyLocalizationOutputTests.java
  common/src/test/java/org/opensearch/ml/common/parameter/LocalSampleCalculatorOutputTest.java
  docs/how-to-add-new-function.md
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/anomalylocalization/AnomalyLocalizer.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/anomalylocalization/AnomalyLocalizerImpl.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/anomalylocalization/CountMinSketch.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/anomalylocalization/CountSketch.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/anomalylocalization/HashMapCounter.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/anomalylocalization/HybridCounter.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/sample/LocalSampleCalculator.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/MLEngineClassLoaderTests.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/MLEngineTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/anomalylocalization/AnomalyLocalizerImplTests.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/sample/LocalSampleCalculatorTest.java
  plugin/build.gradle
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLExecuteAction.java
  plugin/src/main/java/org/opensearch/ml/task/MLExecuteTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/task/MLTaskRunner.java
  plugin/src/test/java/org/opensearch/ml/action/execute/ExecuteITTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLExecuteTaskRunnerTests.java
Labels: bug, backport 1.x

#240 Add auto labeler workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: backport 1.x, infra

#246 Add support for -Dbuild.version_qualifier in ml common
  build.gradle
  scripts/build.sh
Labels: infra

#248 add support for JDK 17
  .github/workflows/CI-workflow.yml
  build.gradle
  client/build.gradle
  common/build.gradle
  ml-algorithms/build.gradle
  plugin/build.gradle
Labels: infra

#259 uploade latest RCF jar (PR309)
  ml-algorithms/lib/randomcutforest-core-2.0.1.jar
  ml-algorithms/lib/randomcutforest-parkservices-2.0.1.jar
Labels: backport 1.x, backport 1.3

#262 More changes to bring ml-commons logic same as other repos
  build.gradle
Labels: release, v2.0.0

#267 drop support for JDK 14
  .github/workflows/CI-workflow.yml
Labels: v2.0.0, infra

#268 add more UT coverage for model/task transport actions
  plugin/build.gradle
  plugin/src/test/java/org/opensearch/ml/action/models/DeleteModelTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/models/GetModelITTests.java
  plugin/src/test/java/org/opensearch/ml/action/models/GetModelTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/models/SearchModelTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/tasks/DeleteTaskTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/tasks/GetTaskTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/tasks/SearchTaskTransportActionTests.java
Labels: v2.0.0, test
