Repository opensearch-project/ml-commons, pull requests merged in 2023-05, with the labels that each got.

#878 check hash value in register model API
  common/src/main/java/org/opensearch/ml/common/transport/register/MLRegisterModelInput.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/ModelHelper.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/text_embedding/ModelHelperTest.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelManagerTests.java
Labels: backport 2.7

#890 Fix: MAINTAINERS.md format.
  MAINTAINERS.md
Labels: documentation

#897 fix class not found exception when deserialize model
  ml-algorithms/src/main/java/org/opensearch/ml/engine/utils/ModelSerDeSer.java
Labels: backport 2.x

#940 enable model access control in secure reset IT
  plugin/src/test/java/org/opensearch/ml/rest/SecureMLRestIT.java
Labels: backport 2.8
