Repository opensearch-project/ml-commons, pull requests merged in 2023-07, with the labels that each got.

#1079 leftover in the 404 Not Found return error
  plugin/src/main/java/org/opensearch/ml/action/models/DeleteModelTransportAction.java
  plugin/src/test/java/org/opensearch/ml/action/models/DeleteModelTransportActionTests.java
Labels: backport 2.9

#1075 init master key automatically
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/MLEngine.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/ConnectorUtils.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/encryptor/Encryptor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/encryptor/EncryptorImpl.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/metrics_correlation/MetricsCorrelationTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/ConnectorUtilsTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/text_embedding/ModelHelperTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/text_embedding/TextEmbeddingModelTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/encryptor/EncryptorImplTest.java
  plugin/src/main/java/org/opensearch/ml/cluster/MLCommonsClusterManagerEventListener.java
  plugin/src/main/java/org/opensearch/ml/cluster/MLSyncUpCron.java
  plugin/src/main/java/org/opensearch/ml/indices/MLIndex.java
  plugin/src/main/java/org/opensearch/ml/indices/MLIndicesHandler.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
  plugin/src/test/java/org/opensearch/ml/action/deploy/TransportDeployModelActionTests.java
  plugin/src/test/java/org/opensearch/ml/cluster/MLSyncUpCronTests.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelManagerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLPredictTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTrainAndPredictTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTrainingTaskRunnerTests.java
Labels: backport 2.9

#1092 stash context before accessing ml config index
  ml-algorithms/src/main/java/org/opensearch/ml/engine/encryptor/EncryptorImpl.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/MLEngineTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/metrics_correlation/MetricsCorrelationTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/AwsConnectorExecutorTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/RemoteModelTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/text_embedding/ModelHelperTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/text_embedding/TextEmbeddingModelTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/encryptor/EncryptorImplTest.java
  plugin/src/main/java/org/opensearch/ml/cluster/MLSyncUpCron.java
  plugin/src/test/java/org/opensearch/ml/action/deploy/TransportDeployModelActionTests.java
  plugin/src/test/java/org/opensearch/ml/cluster/MLSyncUpCronTests.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelManagerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLExecuteTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLPredictTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTrainAndPredictTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTrainingTaskRunnerTests.java
Labels: backport 2.9

#1094 fix init master key bug
  ml-algorithms/src/main/java/org/opensearch/ml/engine/encryptor/EncryptorImpl.java
Labels: backport 2.9

#1099 Add test keys to CI related workflows
  .github/workflows/CI-workflow.yml
  .github/workflows/dco.yml
Labels: enhancement, release, infra, ci, v2.9.0

#1102 Tweak workflow event so ci can retrieve credentails correctly
  .github/workflows/CI-workflow.yml
Labels: enhancement, release, infra, ci, v2.9.0

#1106 delete connector successfully if model index is missing
  plugin/src/main/java/org/opensearch/ml/action/connector/DeleteConnectorTransportAction.java
  plugin/src/test/java/org/opensearch/ml/action/connector/DeleteConnectorTransportActionTests.java
Labels: backport 2.9

#1073 Add integration tests for the remote inference feature
  .github/workflows/CI-workflow.yml
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
Labels: release, infra, test, ci, v2.9.0, backport 2.9

#1118 Temporarily ignore OpenAI Tests
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
Labels: backport 2.9

#1116 Add shell bash settings for windows github actions to export credentials
  .github/workflows/CI-workflow.yml
Labels: bug, release, infra, ci, v2.9.0, backport 2.9

#1124 Increase sleep time on remote inference integration tests
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
Labels: backport 2.9

#1129 fix remote inference it: update job interval
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
Labels: backport 2.9

#1127 Reenable OpenAI Remote Inference Tests
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
Labels: backport 2.9
