Repository opensearch-project/ml-commons, pull requests merged in 2023-10, with the labels that each got.

#1414 Ignoring Redeploy test on MacOS due to known failures
  plugin/src/test/java/org/opensearch/ml/rest/RestMLDeployModelActionIT.java
Labels: backport 2.x

#1409 Updated developer guide to include links for getting started with git
  DEVELOPER_GUIDE.md
Labels: documentation

#1461 add bedrockURL to trusted connector regex list
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
Labels: backport 2.11

#1463 if model version fails to register, update model group accordingly
  common/src/main/java/org/opensearch/ml/common/transport/register/MLRegisterModelInput.java
  common/src/main/java/org/opensearch/ml/common/transport/upload_chunk/MLRegisterModelMetaInput.java
  common/src/test/java/org/opensearch/ml/common/transport/upload_chunk/MLRegisterModelMetaInputTest.java
  common/src/test/java/org/opensearch/ml/common/transport/upload_chunk/MLRegisterModelMetaRequestTest.java
  plugin/src/main/java/org/opensearch/ml/action/register/TransportRegisterModelAction.java
  plugin/src/main/java/org/opensearch/ml/action/upload_chunk/TransportRegisterModelMetaAction.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelGroupManager.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
Labels: backport 2.11

#1465 Add a setting to control the update connector API
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLUpdateConnectorAction.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
  plugin/src/main/java/org/opensearch/ml/settings/MLFeatureEnabledSetting.java
  plugin/src/main/java/org/opensearch/ml/utils/MLExceptionUtils.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLUpdateConnectorActionTests.java
Labels: backport 2.11

#1478 release note 2.11.0.0
  release-notes/opensearch-ml-common.release-notes-2.11.0.0.md
Labels: documentation

#1516 fix multiple docs support
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/RemoteConnectorExecutor.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/HttpJsonConnectorExecutorTest.java
Labels: backport 2.9

#1526 add bedrock titan embedding model blueprint
  docs/remote_inference_blueprints/bedrock_connector_anthropic_claude_blueprint.md
  docs/remote_inference_blueprints/bedrock_connector_titan_embedding_blueprint.md
Labels: documentation, backport 2.x

#1540 Expose execute api for MLClient
  client/src/main/java/org/opensearch/ml/client/MachineLearningClient.java
  client/src/main/java/org/opensearch/ml/client/MachineLearningNodeClient.java
  client/src/test/java/org/opensearch/ml/client/MachineLearningClientTest.java
  client/src/test/java/org/opensearch/ml/client/MachineLearningNodeClientTest.java
Labels: backport 2.x

#1557 fine tune predict API: read model from index directly
  plugin/src/main/java/org/opensearch/ml/rest/RestMLPredictionAction.java
Labels: backport 2.x

#1562 fix bedrock embedding model blueprint
  docs/remote_inference_blueprints/bedrock_connector_titan_embedding_blueprint.md
Labels: backport 2.x

#1538 Onboarding Jenkins prod docker images to github ci check
  .github/workflows/CI-workflow.yml
Labels: enhancement, backport 2.x, infrastructure
