Repository opensearch-project/ml-commons, pull requests merged in 2023-09, with the labels that each got.

#1250 add triaging doc
  TRIAGING.md
Labels: documentation

#1291 Updates demo certs used in integ tests
  plugin/src/test/resources/security/sample.pem
  plugin/src/test/resources/security/test-kirk.jks
Labels: backport 2.x, v2.10.0

#1294 Changing messaging for ILlegalArgumentException on duplicate model gr…
  plugin/src/main/java/org/opensearch/ml/model/MLModelGroupManager.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelGroupManagerTests.java
Labels: backport 2.x, backport 2.10

#1306 Add Auto Release Workflow
  .github/workflows/auto-release.yml
Labels: backport 2.x, backport 2.10

#1309 Bump aws-encryption-sdk-java to fix CVE-2023-33201
  ml-algorithms/build.gradle
Labels: backport 2.x, backport 2.10

#1312 Add release note for 2.10.0 release
  release-notes/opensearch-ml-common.release-notes-2.10.0.0.md
Labels: documentation

#1334 2.x consistent get interactions
  memory/src/main/java/org/opensearch/ml/memory/index/ConversationMetaIndex.java
  memory/src/main/java/org/opensearch/ml/memory/index/OpenSearchConversationalMemoryHandler.java
  memory/src/test/java/org/opensearch/ml/memory/ConversationalMemoryHandlerITTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/ConversationMetaIndexTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemoryDeleteConversationActionIT.java
Labels: backport 2.10

#1336 include deployment status in deploy API response
  common/src/main/java/org/opensearch/ml/common/transport/deploy/MLDeployModelResponse.java
  common/src/test/java/org/opensearch/ml/common/transport/deploy/MLDeployModelResponseTest.java
  plugin/src/main/java/org/opensearch/ml/action/deploy/TransportDeployModelAction.java
  plugin/src/main/java/org/opensearch/ml/action/register/TransportRegisterModelAction.java
  plugin/src/test/java/org/opensearch/ml/action/profile/MLProfileModelResponseTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLSearchConnectorActionTests.java
Labels: enhancement

#1345 Make 2.10 release notes up to date
  release-notes/opensearch-ml-common.release-notes-2.10.0.0.md
Labels: documentation

#1363 fix spelling in Readme.md
  README.md
Labels: documentation

#1368 Fix error message in TransportDeplpoyModelAction class
  plugin/src/main/java/org/opensearch/ml/action/deploy/TransportDeployModelAction.java
Labels: backport 2.x

#1407 fix text docs input unescaped error; enable deploy remote model
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/ConnectorUtils.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
Labels: backport 2.x
