Repository opensearch-project/ml-commons, pull requests merged in 2023-11, with the labels that each got.

#1579 add Austin and Henry as maintainer
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: documentation, infra, backport 2.x

#1574 [FEATURE] add code coverage report for commons and memory modules
  .github/workflows/CI-workflow.yml
  common/build.gradle
  memory/build.gradle
Labels: infra

#1593 return parsing exception 400 for parsing errors
  plugin/src/main/java/org/opensearch/ml/rest/RestMLUpdateConnectorAction.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLUpdateConnectorActionTests.java
Labels: backport 2.11

#1583 add openai embedding model blueprint
  docs/remote_inference_blueprints/bedrock_connector_anthropic_claude_blueprint.md
  docs/remote_inference_blueprints/bedrock_connector_titan_embedding_blueprint.md
  docs/remote_inference_blueprints/openai_connector_embedding_blueprint.md
Labels: backport 2.x

#1613 Added Connector Blueprint for AI21 Labs Jurassic-2 Mid
  docs/remote_inference_blueprints/bedrock_connector_ai21labs_jurassic_blueprint.md
Labels: backport 2.x

#1616 Fixing class casting exception for MachineLearningNodeClient GetMLTask API
  client/src/main/java/org/opensearch/ml/client/MachineLearningNodeClient.java
Labels: backport 2.x, backport feature/agent_framework_dev

#1594 [DOC] update default model_access_mode for model group
  docs/model_access_control.md
Labels: documentation

#1612 Update Gradle to 8.4
  .github/workflows/CI-workflow.yml
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: infra

#1698 Update Lombok and Gradle plugins to support JDK-21
  build.gradle
  client/build.gradle
  common/build.gradle
  memory/build.gradle
  ml-algorithms/build.gradle
  plugin/build.gradle
  search-processors/build.gradle
Labels: infra
