Repository opensearch-project/ml-commons, pull requests merged in 2023-01, with the labels that each got.

#659 Updated MAINTAINERS.md format.
  MAINTAINERS.md
Labels: documentation

#663 Updating maintainers list
  MAINTAINERS.md
Labels: documentation

#677 add doc about how to setup GPU ML node
  docs/model_serving_framework/GPU_support.md
Labels: backport 2.5

#682 disable prebuilt model
  common/src/main/java/org/opensearch/ml/common/transport/upload/MLUploadInput.java
  ml-algorithms/build.gradle
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/text_embedding/ModelHelperTest.java
  plugin/src/main/java/org/opensearch/ml/action/upload/TransportUploadModelAction.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
Labels: backport 2.5

#687 [backport 2.5] Revert "Remove jackson-databind and jackson-annotation s dependencies now coming from core"
  plugin/build.gradle
Labels: dependencies

#686 change only run on ml node setting default value to true
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
  plugin/src/main/java/org/opensearch/ml/task/MLTaskDispatcher.java
  plugin/src/test/java/org/opensearch/ml/action/MLCommonsIntegTestCase.java
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
Labels: enhancement, backport 2.5

#689 Add native memory circuit breaker.
  plugin/build.gradle
  plugin/src/main/java/org/opensearch/ml/action/load/TransportLoadModelOnNodeAction.java
  plugin/src/main/java/org/opensearch/ml/breaker/BreakerName.java
  plugin/src/main/java/org/opensearch/ml/breaker/CircuitBreaker.java
  plugin/src/main/java/org/opensearch/ml/breaker/DiskCircuitBreaker.java
  plugin/src/main/java/org/opensearch/ml/breaker/MLCircuitBreakerService.java
  plugin/src/main/java/org/opensearch/ml/breaker/MemoryCircuitBreaker.java
  plugin/src/main/java/org/opensearch/ml/breaker/NativeMemoryCircuitBreaker.java
  plugin/src/main/java/org/opensearch/ml/breaker/ThresholdCircuitBreaker.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
  plugin/src/main/java/org/opensearch/ml/task/MLExecuteTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/task/MLPredictTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/task/MLTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/task/MLTrainAndPredictTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/task/MLTrainingTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/utils/MLNodeUtils.java
  plugin/src/test/java/org/opensearch/ml/action/MLCommonsIntegTestCase.java
  plugin/src/test/java/org/opensearch/ml/action/load/TransportLoadModelOnNodeActionTests.java
  plugin/src/test/java/org/opensearch/ml/breaker/MLCircuitBreakerServiceTests.java
  plugin/src/test/java/org/opensearch/ml/breaker/MemoryCircuitBreakerTests.java
  plugin/src/test/java/org/opensearch/ml/breaker/NativeMemoryCircuitBreakerTests.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelManagerTests.java
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
  plugin/src/test/java/org/opensearch/ml/task/MLExecuteTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLPredictTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTaskDispatcherTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTrainAndPredictTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTrainingTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/TaskRunnerTests.java
Labels: feature, backport 2.5

#692 Change the inheritance of the BWC test file
  plugin/src/test/java/org/opensearch/ml/bwc/MLCommonsBackwardsCompatibilityIT.java
  plugin/src/test/java/org/opensearch/ml/bwc/MLCommonsBackwardsCompatibilityRestTestCase.java
Labels: test, backport 2.5

#696 Adding ml-commons plugin v2.5.0 release note
  release-notes/opensearch-ml-common.release-notes-2.5.0.0.md
Labels: documentation, backport 2.5
