Repository opensearch-project/ml-commons, pull requests merged in 2024-10, with the labels that each got.

#2922 populate time fields for connectors on return
  common/src/main/java/org/opensearch/ml/common/connector/AbstractConnector.java
  common/src/main/java/org/opensearch/ml/common/connector/Connector.java
  common/src/test/java/org/opensearch/ml/common/RemoteModelTests.java
  common/src/test/java/org/opensearch/ml/common/connector/HttpConnectorTest.java
  common/src/test/java/org/opensearch/ml/common/transport/connector/MLConnectorGetResponseTests.java
  common/src/test/java/org/opensearch/ml/common/transport/model/MLUpdateModelInputTest.java
  common/src/test/java/org/opensearch/ml/common/transport/register/MLRegisterModelInputTest.java
  plugin/src/main/java/org/opensearch/ml/action/connector/TransportCreateConnectorAction.java
  plugin/src/main/java/org/opensearch/ml/action/connector/UpdateConnectorTransportAction.java
  plugin/src/test/java/org/opensearch/ml/action/connector/UpdateConnectorTransportActionTests.java
Labels: backport 2.x

#3005 Add Test Env Require Approval Action
  .github/workflows/CI-workflow.yml
  .github/workflows/require-approval.yml
Labels: enhancement, infra, infrastructure

#3017 Support index.auto_expand_replicas 0-all for .plugins-ml-config
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
  common/src/main/java/org/opensearch/ml/common/utils/IndexUtils.java
  common/src/test/java/org/opensearch/ml/common/utils/IndexUtilsTest.java
  memory/src/main/java/org/opensearch/ml/memory/index/ConversationMetaIndex.java
  memory/src/main/java/org/opensearch/ml/memory/index/InteractionsIndex.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/indices/MLIndicesHandler.java
Labels: backport 2.x, backport 2.17

#3006 [Backport 2.16] Fix ml inference ingest processor always return list using JsonPath
  common/build.gradle
  common/src/main/java/org/opensearch/ml/common/utils/StringUtils.java
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceIngestProcessor.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceIngestProcessorTests.java
Labels: documentation, infra

#3008 [Backport 2.15] Fix ml inference ingest processor always return list using JsonPath
  common/build.gradle
  common/src/main/java/org/opensearch/ml/common/utils/StringUtils.java
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceIngestProcessor.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceIngestProcessorTests.java
Labels: backport feature/multi_tenancy

#2976 Filter out remote model auto redeployment
  plugin/src/main/java/org/opensearch/ml/autoredeploy/MLModelAutoReDeployer.java
  plugin/src/test/java/org/opensearch/ml/autoredeploy/MLModelAutoReDeployerTests.java
  plugin/src/test/resources/org/opensearch/ml/autoredeploy/RemoteModelResult.json
Labels: backport 2.x

#3072 Allow llmQuestion to be optional when llmMessages is used. (Issue #3…
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRAGSearchProcessorIT.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/ext/GenerativeQAParameters.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/ext/GenerativeQAParamExtBuilderTests.java
Labels: backport 2.x

#3058 support role temporary credential in connector tutorial
  docs/tutorials/aws/AIConnectorHelper.ipynb
Labels: backport 2.x

#3098 change to model group access for batch job task APIs
  plugin/src/main/java/org/opensearch/ml/action/tasks/CancelBatchJobTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/GetTaskTransportAction.java
  plugin/src/test/java/org/opensearch/ml/action/tasks/CancelBatchJobTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/tasks/GetTaskTransportActionTests.java
Labels: backport 2.x

#2960 connector blueprint for amazon bedrock converse
  docs/remote_inference_blueprints/bedrock_connector_converse_blueprint.md
Labels: backport 2.x

#3104 Fix PR #2976 bug due to missing adding function_name and algorithm in querying models
  plugin/src/main/java/org/opensearch/ml/autoredeploy/MLModelAutoReDeployer.java
  plugin/src/test/java/org/opensearch/ml/autoredeploy/MLModelAutoReDeployerIT.java
  plugin/src/test/resources/org/opensearch/ml/autoredeploy/TracedSmallModelRequest.json
Labels: backport 2.x, backport 2.17

#3062 Updates dev guide to inform the workflow approval step
  DEVELOPER_GUIDE.md
Labels: documentation, backport 2.x

#3116 add rate limiting for offline batch jobs, set default bulk size to 500
  ml-algorithms/src/main/java/org/opensearch/ml/engine/ingest/Ingestable.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/ingest/OpenAIDataIngestion.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/ingest/S3DataIngestion.java
  plugin/src/main/java/org/opensearch/ml/action/batch/TransportBatchIngestionAction.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
  plugin/src/main/java/org/opensearch/ml/task/MLPredictTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/task/MLTaskManager.java
  plugin/src/test/java/org/opensearch/ml/action/batch/TransportBatchIngestionActionTests.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelManagerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLPredictTaskRunnerTests.java
Labels: backport 2.x, backport 2.17

#3061 Support ML Inference Search Processor Writing to Search Extension
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceSearchResponse.java
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessor.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessorTests.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceSearchResponseTests.java
Labels: backport 2.x

#3073 Add bedrock multimodal build-in function usage example in doc
  docs/remote_inference_blueprints/bedrock_connector_titan_multimodal_embedding_blueprint.md
Labels: backport 2.x

#2899 Enable pass query string to input_map in ml inference search response processor
  common/build.gradle
  common/src/test/java/org/opensearch/ml/common/utils/StringUtilsTest.java
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessor.java
  plugin/src/main/java/org/opensearch/ml/processor/ModelExecutor.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessorTests.java
Labels: backport 2.x, v2.18.0

#2977 add config field in MLToolSpec for static parameters
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
  common/src/main/java/org/opensearch/ml/common/agent/MLToolSpec.java
  common/src/test/java/org/opensearch/ml/common/agent/MLAgentTest.java
  common/src/test/java/org/opensearch/ml/common/agent/MLToolSpecTest.java
  common/src/test/java/org/opensearch/ml/common/transport/agent/MLAgentGetResponseTest.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/AgentUtils.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLConversationalFlowAgentRunner.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLFlowAgentRunner.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunnerTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/MLFlowAgentRunnerTest.java
  plugin/src/test/java/org/opensearch/ml/action/agents/GetAgentTransportActionTests.java
Labels: backport 2.x, v2.18.0

#3132 allowing backport prs to skip approval
  .github/workflows/require-approval.yml
Labels: infra

#3137 fix model stuck in deploying state during node crash/cluster restart
  plugin/src/main/java/org/opensearch/ml/action/forward/TransportForwardAction.java
  plugin/src/main/java/org/opensearch/ml/task/MLTaskCache.java
  plugin/src/test/java/org/opensearch/ml/action/forward/TransportForwardActionTests.java
  plugin/src/test/java/org/opensearch/ml/cluster/MLSyncUpCronTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLProfileActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLStatsActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLUndeployModelActionTests.java
  plugin/src/test/java/org/opensearch/ml/utils/TestHelper.java
Labels: backport 2.x, backport 2.13, backport 2.14, backport 2.15, backport 2.16, backport 2.17

#3148 updating the approval requirement
  .github/workflows/require-approval.yml
Labels: infra

#3154 Add textract and comprehend url to trusted enpoints
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
Labels: backport 2.x, backport 2.17

#3162 upgrading upload artifact to v4
  .github/workflows/CI-workflow.yml
Labels: infra

#3168 release note for 2.18.0 release
  release-notes/opensearch-ml-common.release-notes-2.18.0.0.md
Labels: backport 2.x, backport 2.18

#3151 increase the wait timeout to fetch the master key
  ml-algorithms/src/main/java/org/opensearch/ml/engine/encryptor/EncryptorImpl.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/encryptor/EncryptorImplTest.java
Labels: backport 2.x, backport 2.17, backport 2.18

#3174 Update gcp_vertexai_connector_embedding_blueprint.md
  docs/remote_inference_blueprints/gcp_vertexai_connector_embedding_blueprint.md
Labels: backport 2.x

#3185 updating the release notes for 2.18
  release-notes/opensearch-ml-common.release-notes-2.18.0.0.md
Labels: documentation, backport 2.x, backport 2.18

#2848 Add tutorial for bge-reranker-m3-v2, multilingual cross-encoder model on SageMaker
  docs/tutorials/rerank/rerank_pipeline_with_bge-rerank-m3-v2_model_deployed_on_Sagemaker.md
Labels: backport 2.x
