Repository opensearch-project/ml-commons, pull requests merged in 2024-03, with the labels that each got.

#2186 Bump common-compress package to fix CVE
  build.gradle
  ml-algorithms/build.gradle
  plugin/build.gradle
Labels: infra, backport 2.x

#2145 fix npe issue
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLAgentExecutor.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/MLAgentExecutorTest.java
Labels: backport 2.x

#2120 fix error code
  plugin/src/main/java/org/opensearch/ml/rest/RestMLExecuteAction.java
  plugin/src/main/java/org/opensearch/ml/utils/error/ErrorMessage.java
Labels: backport 2.x

#2192 add demo notebook for creating connector
  docs/remote_inference_blueprints/sagemaker_connector_blueprint.md
  docs/tutorials/aws/AIConnectorHelper.ipynb
  docs/tutorials/aws/semantic_search_with_bedrock_cohere_embedding_model.md
  docs/tutorials/aws/semantic_search_with_bedrock_titan_embedding_model.md
  docs/tutorials/aws/semantic_search_with_cohere_embedding_model.md
  docs/tutorials/aws/semantic_search_with_openai_embedding_model.md
  docs/tutorials/aws/semantic_search_with_sagemaker_embedding_model.md
Labels: backport 2.x

#2195 Suppress [removal] AccessController in java.security has been deprecated and marked for removal
  common/src/main/java/org/opensearch/ml/common/MLCommonsClassLoader.java
  common/src/main/java/org/opensearch/ml/common/connector/Connector.java
  common/src/main/java/org/opensearch/ml/common/output/model/ModelTensor.java
  common/src/main/java/org/opensearch/ml/common/utils/StringUtils.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/MLEngineClassLoader.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/ModelHelper.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/DLModel.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/DLModelExecute.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/AgentUtils.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLAgentExecutor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLConversationalFlowAgentRunner.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLFlowAgentRunner.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/rcf/RCFModelSerDeSer.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/AwsConnectorExecutor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/HttpJsonConnectorExecutor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/utils/FileUtils.java
  plugin/src/main/java/org/opensearch/ml/breaker/DiskCircuitBreaker.java
  plugin/src/main/java/org/opensearch/ml/utils/RestActionUtils.java
Labels: backport 2.x

#2198 Fix onnx dep
  ml-algorithms/build.gradle
Labels: backport 2.x

#2202 enhance connector helper notebook to support 2.9
  docs/tutorials/aws/AIConnectorHelper.ipynb
  docs/tutorials/semantic_search/semantic_search_with_byte_quantized_vector.md
Labels: backport 2.x

#2207 add remote predict thread pool
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/task/MLPredictTaskRunner.java
Labels: backport 2.x

#2209 Guardrails for remote model input and output
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
  common/src/main/java/org/opensearch/ml/common/MLModel.java
  common/src/main/java/org/opensearch/ml/common/model/Guardrail.java
  common/src/main/java/org/opensearch/ml/common/model/Guardrails.java
  common/src/main/java/org/opensearch/ml/common/model/MLGuard.java
  common/src/main/java/org/opensearch/ml/common/model/StopWords.java
  common/src/main/java/org/opensearch/ml/common/transport/model/MLUpdateModelInput.java
  common/src/main/java/org/opensearch/ml/common/transport/register/MLRegisterModelInput.java
  common/src/test/java/org/opensearch/ml/common/model/GuardrailTests.java
  common/src/test/java/org/opensearch/ml/common/model/GuardrailsTests.java
  common/src/test/java/org/opensearch/ml/common/model/MLGuardTests.java
  common/src/test/java/org/opensearch/ml/common/model/StopWordsTests.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/AwsConnectorExecutor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/HttpJsonConnectorExecutor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/RemoteConnectorExecutor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/RemoteModel.java
  plugin/src/main/java/org/opensearch/ml/action/models/UpdateModelTransportAction.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelCache.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelCacheHelper.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
Labels: backport 2.x

#2154 prevent exposing internal ip
  plugin/src/main/java/org/opensearch/ml/utils/error/ErrorMessage.java
  plugin/src/test/java/org/opensearch/ml/utils/error/ErrorMessageTests.java
Labels: backport 2.x

#2212 update the response code to 404 when deleting a memory that is not al…
  memory/src/main/java/org/opensearch/ml/memory/index/OpenSearchConversationalMemoryHandler.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/DeleteConversationTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/OpenSearchConversationalMemoryHandlerTests.java
Labels: backport 2.x

#2228 updating ml_connector schema version
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
Labels: backport 2.x, backport 2.13

#2213 Add integration tests for the RAG pipeline covering OpenAI and Bedrock
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/test/java/org/opensearch/ml/plugin/MachineLearningPluginTests.java
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRAGSearchProcessorIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
  plugin/src/test/resources/org/opensearch/ml/rest/test_data/qa_doc1.json
  plugin/src/test/resources/org/opensearch/ml/rest/test_data/qa_doc2.json
  plugin/src/test/resources/org/opensearch/ml/rest/test_data/qa_doc3.json
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/GenerativeSearchResponse.java
Labels: backport 2.x

#2234 fix json error
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
Labels: backport 2.x, backport 2.13

#2237 update remote model auto deploy tests in predict runner
  plugin/src/test/java/org/opensearch/ml/task/MLPredictTaskRunnerTests.java
Labels: backport 2.x, backport 2.13

#2222 adding xinyual as maintainer
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: documentation

#2231 2.13 release note
  release-notes/opensearch-ml-common.release-notes-2.13.0.0.md
Labels: documentation, backport 2.x, backport 2.13

#2254 change default agent framework flag to true due to GA
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
Labels: backport 2.x, backport 2.13

#2238 Add support for Cohere and others.
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRAGSearchProcessorIT.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/GenerativeQAResponseProcessor.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/ext/GenerativeQAParameters.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/llm/ChatCompletionInput.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/llm/ChatCompletionOutput.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/llm/DefaultLlmImpl.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/llm/Llm.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/llm/LlmIOUtil.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/GenerativeQAResponseProcessorTests.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/ext/GenerativeQAParamExtBuilderTests.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/ext/GenerativeQAParametersTests.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/llm/ChatCompletionInputTests.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/llm/ChatCompletionOutputTests.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/llm/DefaultLlmImplTests.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/llm/LlmIOUtilTests.java
Labels: backport 2.x, backport 2.13

#2264 fix remote register model / circuit breaker 500
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelManagerTests.java
Labels: backport 2.x

#2269 guardrails bug fixes and IT for creating guardrails
  common/src/main/java/org/opensearch/ml/common/model/Guardrails.java
  common/src/main/java/org/opensearch/ml/common/model/MLGuard.java
  common/src/test/java/org/opensearch/ml/common/model/GuardrailsTests.java
  common/src/test/java/org/opensearch/ml/common/model/MLGuardTests.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/AwsConnectorExecutor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/HttpJsonConnectorExecutor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/RemoteConnectorExecutor.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLGuardrailsIT.java
  plugin/src/test/java/org/opensearch/ml/utils/TestData.java
Labels: backport 2.x, backport 2.13

#2279 fix guardrails mapping
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
Labels: backport 2.x, backport 2.13

#2283 restrict stash context only for stop words system index
  common/src/main/java/org/opensearch/ml/common/model/MLGuard.java
Labels: backport 2.x, backport 2.13

#2276 Add a flag to control auto-deploy behavior
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
  common/src/main/java/org/opensearch/ml/common/MLModel.java
  common/src/main/java/org/opensearch/ml/common/model/MLDeploySetting.java
  common/src/main/java/org/opensearch/ml/common/transport/model/MLUpdateModelInput.java
  common/src/main/java/org/opensearch/ml/common/transport/register/MLRegisterModelInput.java
  common/src/main/java/org/opensearch/ml/common/transport/upload_chunk/MLRegisterModelMetaInput.java
  common/src/test/java/org/opensearch/ml/common/model/MLDeployingSettingTests.java
  common/src/test/java/org/opensearch/ml/common/transport/upload_chunk/MLRegisterModelMetaInputTest.java
  common/src/test/java/org/opensearch/ml/common/transport/upload_chunk/MLRegisterModelMetaRequestTest.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
Labels: backport 2.x, backport 2.13

#2288 check model auto deploy
  plugin/src/main/java/org/opensearch/ml/task/MLPredictTaskRunner.java
Labels: backport 2.x, backport 2.13
