Repository opensearch-project/ml-commons, pull requests merged in 2024-07, with the labels that each got.

#2592 removing experimental from the Conversation memory feature
  common/src/main/java/org/opensearch/ml/common/conversation/ConversationalIndexConstants.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/CreateConversationTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/CreateInteractionTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/DeleteConversationTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/GetConversationTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/GetConversationsTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/GetInteractionTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/GetInteractionsTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/SearchConversationsTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/SearchInteractionsTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/UpdateConversationTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/UpdateInteractionTransportAction.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/CreateConversationTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/CreateInteractionTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/DeleteConversationTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationsTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetInteractionTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetInteractionsTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/SearchConversationsTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/SearchInteractionsTransportActionsTests.java
Labels: backport 2.x

#2607 add tutuorial for cross-encoder model on sagemaker
  docs/tutorials/rerank/rerank_pipeline_with_CrossEncoder_model_deployed_on_Sagemaker.md
Labels: backport 2.x

#2610 add model input validation for local models in ml processor
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceIngestProcessor.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceIngestProcessorFactoryTests.java
Labels: backport 2.x, backport 2.15

#2583 Set ml-commons plugin 3.0.0 baseline JDK version to JDK-21
  .github/workflows/CI-workflow.yml
  build.gradle
  client/build.gradle
  common/build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
  memory/build.gradle
  ml-algorithms/build.gradle
  plugin/build.gradle
  search-processors/build.gradle
  spi/build.gradle
Labels: infra

#2627 Temp use of older nodejs version before moving to Almalinux8
  .github/workflows/CI-workflow.yml
Labels: infra, backport 2.x, backport 2.15

#2628 [Backport 2.x] Temp use of older nodejs version before moving to Almalinux8
  .github/workflows/CI-workflow.yml
Labels: enhancement, infra

#2625 Fix GA workflow that publishes Apache Maven artifacts
  .github/workflows/maven-publish.yml
Labels: infra

#2642 Make all Bedrock model blueprints in a tidier format
  docs/remote_inference_blueprints/bedrock_connector_ai21labs_jurassic_blueprint.md
  docs/remote_inference_blueprints/bedrock_connector_anthropic_claude_blueprint.md
  docs/remote_inference_blueprints/bedrock_connector_titan_multimodal_embedding_blueprint.md
Labels: backport 2.x

#2656 bump ml config index schema version
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
Labels: bug

#2500 Add multi modal default preprocess function
  common/src/main/java/org/opensearch/ml/common/connector/MLPreProcessFunction.java
  common/src/main/java/org/opensearch/ml/common/connector/functions/preprocess/ConnectorPreProcessFunction.java
  common/src/main/java/org/opensearch/ml/common/connector/functions/preprocess/MultiModalConnectorPreProcessFunction.java
  common/src/test/java/org/opensearch/ml/common/connector/functions/preprocess/MultiModalConnectorPreProcessFunctionTest.java
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
  plugin/src/test/java/org/opensearch/ml/rest/RestBedRockInferenceIT.java
  plugin/src/test/resources/org/opensearch/ml/rest/templates/BedRockMultiModalConnectorBodies.json
Labels: backport 2.x

#2586 Register system index descriptors through SystemIndexPlugin.getSystemIndexDescriptors
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
Labels: backport 2.x

#2651 feat: add bedrock runtime agent for knowledge base
  common/src/test/java/org/opensearch/ml/common/connector/ConnectorTest.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
Labels: backport 2.x

#2675 [Backport 2.x] Fix MLModelTool returns null if the response of LLM is a pure json object
  ml-algorithms/src/main/java/org/opensearch/ml/engine/tools/MLModelTool.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/tools/MLModelToolTests.java
Labels: backport 2.13, backport 2.14, backport 2.15

#2692 Make all Amazon managed LLM blueprints in a tidier format
  docs/remote_inference_blueprints/amazon_comprehend_connector_blueprint.md
  docs/remote_inference_blueprints/amazon_textract_connector_blueprint.md
  docs/remote_inference_blueprints/bedrock_connector_ai21labs_jurassic_blueprint.md
  docs/remote_inference_blueprints/bedrock_connector_anthropic_claude3_blueprint.md
  docs/remote_inference_blueprints/bedrock_connector_anthropic_claude_blueprint.md
  docs/remote_inference_blueprints/bedrock_connector_titan_embedding_blueprint.md
  docs/remote_inference_blueprints/bedrock_connector_titan_multimodal_embedding_blueprint.md
Labels: backport 2.x

#2691 increase execute thread pool size
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
Labels: backport 2.x, backport 2.13, backport 2.14, backport 2.15

#2661 Add Batch Prediction Mode in the Connector Framework for batch inference
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
  common/src/main/java/org/opensearch/ml/common/connector/ConnectorAction.java
  common/src/main/java/org/opensearch/ml/common/dataset/remote/RemoteInferenceInputDataSet.java
  common/src/main/java/org/opensearch/ml/common/input/MLInput.java
  common/src/main/java/org/opensearch/ml/common/input/remote/RemoteInferenceMLInput.java
  common/src/test/java/org/opensearch/ml/common/connector/ConnectorActionTest.java
  common/src/test/java/org/opensearch/ml/common/dataset/remote/RemoteInferenceInputDataSetTest.java
  common/src/test/java/org/opensearch/ml/common/input/MLInputTest.java
  common/src/test/java/org/opensearch/ml/common/input/remote/RemoteInferenceMLInputTest.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/RemoteModel.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLPredictionAction.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
  plugin/src/main/java/org/opensearch/ml/stats/ActionName.java
  plugin/src/main/java/org/opensearch/ml/task/MLPredictTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/utils/RestActionUtils.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLPredictionActionTests.java
  plugin/src/test/java/org/opensearch/ml/utils/TestHelper.java
Labels: backport 2.x, v2.16.0

#2689 Automated model interface generation on aws llms
  common/src/main/java/org/opensearch/ml/common/utils/ModelInterfaceUtils.java
  common/src/test/java/org/opensearch/ml/common/utils/ModelInterfaceUtilsTest.java
  plugin/src/main/java/org/opensearch/ml/action/register/TransportRegisterModelAction.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLGuardrailsIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
  plugin/src/test/java/org/opensearch/ml/tools/ToolIntegrationWithLLMTest.java
Labels: enhancement, backport 2.x, backport 2.16

#2714 pass all parameters including chat_history to run tools
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunner.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunnerTest.java
Labels: backport 2.x, backport 2.16

#2729 [backport 2.13] Add logging for throttling and guardrail in connector
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/AwsConnectorExecutor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/HttpJsonConnectorExecutor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/RemoteConnectorExecutor.java
Labels: backport 2.14

#2688 add initial MLInferenceSearchResponseProcessor
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessor.java
  plugin/src/main/java/org/opensearch/ml/processor/ModelExecutor.java
  plugin/src/main/java/org/opensearch/ml/utils/MapUtils.java
  plugin/src/main/java/org/opensearch/ml/utils/SearchResponseUtil.java
  plugin/src/test/java/org/opensearch/ml/plugin/MachineLearningPluginTests.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessorTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLInferenceSearchResponseProcessorIT.java
  plugin/src/test/java/org/opensearch/ml/utils/MapUtilsTests.java
  plugin/src/test/java/org/opensearch/ml/utils/SearchResponseUtilTests.java
Labels: backport 2.x, backport 2.16

#2742 Add StashContext to connector getter
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
Labels: backport 2.x, backport 2.16

#2620 Update PULL_REQUEST_TEMPLATE to include an API spec change in the checklist.
  .github/pull_request_template.md
Labels: infra

#2753 Add release note for 2.16
  release-notes/opensearch-ml-common.release-notes-2.16.0.0.md
Labels: documentation, backport 2.x, v2.16.0, backport 2.16

#2760 Update release note
  release-notes/opensearch-ml-common.release-notes-2.16.0.0.md
Labels: documentation

#2759 Add XContentType to wrap the CreateIndexRequest mappings in _doc key to fix v1 templates issue
  memory/src/main/java/org/opensearch/ml/memory/index/ConversationMetaIndex.java
  memory/src/main/java/org/opensearch/ml/memory/index/InteractionsIndex.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/metrics_correlation/MetricsCorrelation.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/indices/MLIndicesHandler.java
Labels: backport 2.x, backport 2.13, backport 2.14, backport 2.15, v2.16.0, backport 2.16

#2768 add offline batch inference connector blueprints
  docs/remote_inference_blueprints/batch_inference_openAI_connector_blueprint.md
  docs/remote_inference_blueprints/batch_inference_sagemaker_connector_blueprint.md
Labels: documentation, backport 2.x, v2.16.0, backport 2.16

#2770 Fix ml inference request processor when running terms query
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceSearchRequestProcessor.java
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessor.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceSearchRequestProcessorTests.java
Labels: backport 2.x, backport 2.16

#2775 Add release notes
  release-notes/opensearch-ml-common.release-notes-2.16.0.0.md
Labels: documentation, backport 2.x, v2.16.0, backport 2.16

#2778 Add more logs for automated model interface creation
  common/src/main/java/org/opensearch/ml/common/utils/ModelInterfaceUtils.java
  common/src/test/java/org/opensearch/ml/common/utils/ModelInterfaceUtilsTest.java
Labels: backport 2.x, v2.16.0, backport 2.16

#2781 Add more to release note
  release-notes/opensearch-ml-common.release-notes-2.16.0.0.md
Labels: documentation, backport 2.x, v2.16.0, backport 2.16

#2784 Merge the existing parameters when updating connectors
  common/src/main/java/org/opensearch/ml/common/connector/HttpConnector.java
  docs/remote_inference_blueprints/batch_inference_sagemaker_connector_blueprint.md
Labels: backport 2.x, v2.16.0, backport 2.16

#2789 Add release note
  release-notes/opensearch-ml-common.release-notes-2.16.0.0.md
Labels: documentation, backport 2.x, v2.16.0, backport 2.16
