Repository opensearch-project/ml-commons, pull requests merged in 2024-01, with the labels that each got.

#1829 fix duplicate node if node has both data and ml role
  plugin/src/main/java/org/opensearch/ml/cluster/DiscoveryNodeHelper.java
  plugin/src/test/java/org/opensearch/ml/cluster/DiscoveryNodeHelperTests.java
  plugin/src/test/java/org/opensearch/ml/utils/TestHelper.java
Labels: backport 2.x

#1832 Updated OpenSearch Lucene snapshot location
  build-tools/repositories.gradle
  build.gradle
Labels: infra

#1841 Fine tune log message based on error type
  plugin/src/main/java/org/opensearch/ml/autoredeploy/MLModelAutoReDeployer.java
Labels: backport 2.x

#1845 Add kotlin stblib dependency for SearchAlertTool
  build.gradle
  ml-algorithms/build.gradle
  plugin/build.gradle
Labels: infra

#1866 fix bug - not found agent index
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLAgentExecutor.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/MLAgentExecutorTest.java
Labels: backport 2.x

#1871 handling tool errors
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunner.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunnerTest.java
Labels: backport 2.x

#1870 Issue 1787 fixing connector endpoint returns index not found
  plugin/build.gradle
  plugin/src/main/java/org/opensearch/ml/action/connector/SearchConnectorTransportAction.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLSearchConnectorActionTests.java
Labels: backport 2.x

#1877 refactor memory layer APIs
  common/src/main/java/org/opensearch/ml/common/conversation/ActionConstants.java
  common/src/main/java/org/opensearch/ml/common/conversation/ConversationalIndexConstants.java
  common/src/test/java/org/opensearch/ml/common/conversation/ConversationMetaTests.java
  common/src/test/java/org/opensearch/ml/common/conversation/InteractionTests.java
  memory/src/main/java/org/opensearch/ml/memory/ConversationalMemoryHandler.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/CreateInteractionRequest.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/GetConversationRequest.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/GetInteractionRequest.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/GetInteractionTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/GetInteractionsRequest.java
  memory/src/main/java/org/opensearch/ml/memory/index/InteractionsIndex.java
  memory/src/main/java/org/opensearch/ml/memory/index/OpenSearchConversationalMemoryHandler.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/CreateConversationResponseTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/CreateInteractionRequestTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/CreateInteractionResponseTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationRequestTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationResponseTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationsResponseTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetInteractionRequestTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetInteractionResponseTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetInteractionTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetInteractionsRequestTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetInteractionsResponseTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetTracesResponseTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/InteractionsIndexITTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/InteractionsIndexTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/OpenSearchConversationalMemoryHandlerTests.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLAgentExecutor.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/memory/MLMemoryManagerTests.java
  plugin/src/main/java/org/opensearch/ml/action/register/TransportRegisterModelAction.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMemoryUpdateConversationAction.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMemoryUpdateInteractionAction.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemoryCreateConversationActionIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemoryCreateInteractionActionIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemoryDeleteConversationActionIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemoryGetConversationActionIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemoryGetConversationsActionIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemoryGetInteractionActionIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemoryGetInteractionActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemoryGetInteractionsActionIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemorySearchConversationsActionIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemorySearchInteractionsActionIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemoryUpdateConversationTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemoryUpdateInteractionActionTests.java
Labels: backport 2.x

#1889 Issue 1878/1879/1880 fixing index not found for model group/model/tasks
  plugin/src/main/java/org/opensearch/ml/action/connector/SearchConnectorTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/handler/MLSearchHandler.java
  plugin/src/main/java/org/opensearch/ml/action/model_group/SearchModelGroupTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/models/SearchModelTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/SearchTaskTransportAction.java
  plugin/src/main/java/org/opensearch/ml/utils/RestActionUtils.java
  plugin/src/test/java/org/opensearch/ml/action/handler/MLSearchHandlerTests.java
  plugin/src/test/java/org/opensearch/ml/action/models/SearchModelTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLSearchConnectorActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLSearchModelActionIT.java
  plugin/src/test/java/org/opensearch/ml/utils/RestActionUtilsTests.java
Labels: backport 2.x

#1904 stash thread context before running forward action
  plugin/src/main/java/org/opensearch/ml/action/deploy/TransportDeployModelOnNodeAction.java
Labels: backport 2.x, backport 2.9, backport 2.10, backport 2.11

#1923 add tutorial doc for semantic search on amazon opensearch
  docs/remote_inference_blueprints/sagemaker_connector_blueprint.md
  docs/tutorials/aws/images/semantic_search/mapping_iam_role_arn.png
  docs/tutorials/aws/semantic_search_with_bedrock_titan_embedding_model.md
  docs/tutorials/aws/semantic_search_with_cohere_embedding_model.md
  docs/tutorials/aws/semantic_search_with_sagemaker_embedding_model.md
Labels: backport 2.x

#1891 Add IndexMapping Tool
  ml-algorithms/src/main/java/org/opensearch/ml/engine/tools/CatIndexTool.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/tools/IndexMappingTool.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/tools/IndexMappingToolTests.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
Labels: backport 2.x

#1927 add more user based permission check in Memory
  memory/src/main/java/org/opensearch/ml/memory/ConversationalMemoryHandler.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/UpdateConversationTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/UpdateInteractionTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/index/ConversationMetaIndex.java
  memory/src/main/java/org/opensearch/ml/memory/index/InteractionsIndex.java
  memory/src/main/java/org/opensearch/ml/memory/index/OpenSearchConversationalMemoryHandler.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/UpdateConversationTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/UpdateInteractionTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/ConversationMetaIndexTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/InteractionsIndexTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/OpenSearchConversationalMemoryHandlerTests.java
Labels: backport 2.x

#1937 Updating maintainers list
  MAINTAINERS.md
Labels: documentation

#1951 add maintainer
  .github/CODEOWNERS
Labels: infra

#1598 Add accessUserInformation to the plugin security policy. (Issue # 844)
  ml-algorithms/build.gradle
  plugin/build.gradle
  plugin/src/main/plugin-metadata/plugin-security.policy
  plugin/src/test/java/org/opensearch/ml/rest/RestMLDeployModelActionIT.java
Labels: backport 2.x

#1967 fix error message
  ml-algorithms/src/main/java/org/opensearch/ml/engine/ModelHelper.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/text_embedding/ModelHelperTest.java
  plugin/src/main/java/org/opensearch/ml/action/deploy/TransportDeployModelAction.java
Labels: backport 2.x
