Repository opensearch-project/ml-commons, pull requests merged in 2024-12, with the labels that each got.

#3244 Retrieve remote model id from registration response in IT to avoid flaky
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
Labels: backport 2.x

#3253 Fixes Two Flaky IT classes RestMLGuardrailsIT & ToolIntegrationWithLLMTest
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLGuardrailsIT.java
  plugin/src/test/java/org/opensearch/ml/tools/ToolIntegrationWithLLMTest.java
Labels: backport 2.x

#3139 Update Gradle to 8.11.1
  .github/workflows/CI-workflow.yml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: backport 2.x

#3241 fix for sync up job not working in 2.17 when upgraded from previous versions
  plugin/src/main/java/org/opensearch/ml/autoredeploy/MLModelAutoReDeployer.java
Labels: backport 2.x, backport 2.17, backport 2.18

#3260 [Enhancement] Enhance validation for create connector API
  common/src/main/java/org/opensearch/ml/common/connector/ConnectorAction.java
  common/src/main/java/org/opensearch/ml/common/transport/connector/MLCreateConnectorInput.java
  common/src/test/java/org/opensearch/ml/common/connector/ConnectorActionTest.java
  common/src/test/java/org/opensearch/ml/common/transport/connector/MLCreateConnectorInputTests.java
  plugin/src/test/java/org/opensearch/ml/action/connector/TransportCreateConnectorActionTests.java
Labels: backport 2.x

#3282 Add application_type to ConversationMeta; update tests
  common/src/main/java/org/opensearch/ml/common/conversation/ConversationMeta.java
  common/src/test/java/org/opensearch/ml/common/conversation/ConversationMetaTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationResponseTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationsResponseTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationsTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/OpenSearchConversationalMemoryHandlerTests.java
Labels: backport 2.x

#3283 Enhance Message and Memory API Validation and storage
  common/src/main/java/org/opensearch/ml/common/conversation/Interaction.java
  common/src/test/java/org/opensearch/ml/common/conversation/InteractionTests.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/CreateConversationRequest.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/CreateInteractionRequest.java
  memory/src/main/java/org/opensearch/ml/memory/index/ConversationMetaIndex.java
  memory/src/main/java/org/opensearch/ml/memory/index/InteractionsIndex.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/CreateConversationRequestTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/CreateInteractionRequestTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/ConversationMetaIndexITTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/ConversationMetaIndexTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/InteractionsIndexTests.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/memory/MLMemoryManager.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/memory/MLMemoryManagerTests.java
Labels: backport 2.x

#3300 Bump guava version to 32.1.3
  build.gradle
  common/build.gradle
  memory/build.gradle
  ml-algorithms/build.gradle
  plugin/build.gradle
  search-processors/build.gradle
Labels: infra, backport 2.x

#3291 Use Adagrad optimiser for Linear regression by default
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/regression/LinearRegression.java
Labels: backport 2.x

#3289 Fix remote model with embedding input issue
  common/src/main/java/org/opensearch/ml/common/utils/ModelInterfaceUtils.java
  plugin/src/test/java/org/opensearch/ml/utils/MLNodeUtilsTests.java
Labels: bug, backport 2.x, backport 2.16, backport 2.17, backport 2.18

#3281 Adds preset contentRegistry for IngestProcessors
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceIngestProcessorTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLInferenceIngestProcessorIT.java
  plugin/src/test/java/org/opensearch/ml/utils/TestData.java
Labels: bug, backport 2.x, backport 2.15, backport 2.16, backport 2.17, backport 2.18

#3200 add action input as parameters for tool execution in conversational agent
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/AgentUtils.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/AgentUtilsTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunnerTest.java
Labels: backport 2.x
