Repository opensearch-project/ml-commons, pull requests merged in 2024-06, with the labels that each got.

#2458 fix error message with unwrapping the root cause
  plugin/src/main/java/org/opensearch/ml/utils/MLExceptionUtils.java
  plugin/src/main/java/org/opensearch/ml/utils/error/ErrorMessageFactory.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLExecuteActionTests.java
  plugin/src/test/java/org/opensearch/ml/utils/error/ErrorMessageFactoryTests.java
Labels: backport 2.x

#2514 adding immediate refresh to delete model group request
  plugin/src/main/java/org/opensearch/ml/action/model_group/DeleteModelGroupTransportAction.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLDeleteModelGroupActionIT.java
Labels: backport 2.x

#2486 [Backport main] Remove strict version dependency to compile minimum compatible version
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
  common/src/main/java/org/opensearch/ml/common/agent/MLAgent.java
  common/src/main/java/org/opensearch/ml/common/dataset/TextDocsInputDataSet.java
  common/src/main/java/org/opensearch/ml/common/model/MLDeploySetting.java
  common/src/main/java/org/opensearch/ml/common/transport/connector/MLCreateConnectorInput.java
  common/src/main/java/org/opensearch/ml/common/transport/register/MLRegisterModelInput.java
  common/src/test/java/org/opensearch/ml/common/agent/MLAgentTest.java
  common/src/test/java/org/opensearch/ml/common/transport/connector/MLCreateConnectorInputTests.java
  plugin/build.gradle
Labels: backport 2.x

#2491 guardrails model support
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
  common/src/main/java/org/opensearch/ml/common/model/Guardrail.java
  common/src/main/java/org/opensearch/ml/common/model/Guardrails.java
  common/src/main/java/org/opensearch/ml/common/model/LocalRegexGuardrail.java
  common/src/main/java/org/opensearch/ml/common/model/MLGuard.java
  common/src/main/java/org/opensearch/ml/common/model/ModelGuardrail.java
  common/src/main/java/org/opensearch/ml/common/model/StopWords.java
  common/src/test/java/org/opensearch/ml/common/model/GuardrailTests.java
  common/src/test/java/org/opensearch/ml/common/model/GuardrailsTests.java
  common/src/test/java/org/opensearch/ml/common/model/LocalRegexGuardrailTests.java
  common/src/test/java/org/opensearch/ml/common/model/MLGuardTests.java
  common/src/test/java/org/opensearch/ml/common/model/ModelGuardrailTests.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/ConnectorUtils.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/RemoteConnectorExecutor.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLGuardrailsIT.java
Labels: backport 2.x

#2519 Titan Embedding Connector Blueprint content referenced by users of OpenSearch 2.11 version #2517
  docs/remote_inference_blueprints/bedrock_connector_titan_embedding_blueprint.md
Labels: backport 2.x

#2510 Fix model still deployed after calling undeploy API
  plugin/src/main/java/org/opensearch/ml/action/undeploy/TransportUndeployModelAction.java
  plugin/src/test/java/org/opensearch/ml/action/undeploy/TransportUndeployModelActionTests.java
  plugin/src/test/java/org/opensearch/ml/tools/ToolIntegrationWithLLMTest.java
Labels: backport 2.x

#2508 ml inference ingest processor support for local models
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceIngestProcessor.java
  plugin/src/main/java/org/opensearch/ml/processor/ModelExecutor.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceIngestProcessorFactoryTests.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceIngestProcessorTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLInferenceIngestProcessorIT.java
Labels: backport 2.x

#2530 fix flaky IT
  plugin/src/test/java/org/opensearch/ml/rest/RestConnectorToolIT.java
Labels: backport 2.x

#2464 Add claud3 blueprint
  docs/remote_inference_blueprints/bedrock_connector_anthropic_claude3_blueprint.md
Labels: backport 2.x

#2495 Fix bedrock embedding generation issue
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/RemoteConnectorExecutor.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/AwsConnectorExecutorTest.java
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
  plugin/src/test/java/org/opensearch/ml/rest/RestBedRockInferenceIT.java
  plugin/src/test/resources/org/opensearch/ml/rest/templates/BedRockConnectorBodies.json
Labels: backport 2.x

#2536 Add release notes for 2.15
  release-notes/opensearch-ml-common.release-notes-2.15.0.0.md
Labels: backport main, backport 2.15

#2437 fix flaky test of PredictionITTests and RestConnectorToolIT
  plugin/src/test/java/org/opensearch/ml/action/MLCommonsIntegTestCase.java
  plugin/src/test/java/org/opensearch/ml/action/prediction/PredictionITTests.java
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
  plugin/src/test/java/org/opensearch/ml/rest/RestConnectorToolIT.java
Labels: backport 2.x, backport 2.15

#2567 update release notes for 2.15
  release-notes/opensearch-ml-common.release-notes-2.15.0.0.md
Labels: documentation, backport 2.x, backport 2.15

#2562 add amazon textract blueprint
  docs/remote_inference_blueprints/amazon_textract_connector_blueprint.md
  docs/remote_inference_blueprints/images/hello.png
Labels: backport 2.x

#2571 change guardrail field name
  common/src/main/java/org/opensearch/ml/common/model/ModelGuardrail.java
  common/src/test/java/org/opensearch/ml/common/model/ModelGuardrailTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLGuardrailsIT.java
Labels: backport 2.x, backport 2.15

#2578 upgrade djl version to 0.28.0
  ml-algorithms/build.gradle
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/DLModel.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/DLModelExecute.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/question_answering/QuestionAnsweringModelTest.java
Labels: backport 2.x, backport 2.15

#2584 Prepare for setting ml-commons plugin 3.0.0 baseline JDK version to JDK-21
  .github/workflows/CI-workflow.yml
Labels: infra
