Repository opensearch-project/ml-commons, pull requests merged in 2024-05, with the labels that each got.

#2389 set the mlModel info in the deploy stage
  plugin/src/main/java/org/opensearch/ml/model/MLModelCacheHelper.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
Labels: backport 2.x, backport 2.14

#2387 Add release note 2.14
  release-notes/opensearch-ml-common.release-notes-2.14.0.0.md
Labels: documentation

#2396 Clear planningWorkerNodes when model auto-deploys again after undeploy
  plugin/src/main/java/org/opensearch/ml/task/MLPredictTaskRunner.java
Labels: backport 2.x, backport 2.14

#2394 Add IT for interface
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
Labels: infra, backport 2.x, v2.14.0, backport 2.14

#2405 avoid race condition in syncup model state refresh and handle NP of I…
  plugin/src/main/java/org/opensearch/ml/cluster/MLSyncUpCron.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLUndeployModelAction.java
  plugin/src/main/java/org/opensearch/ml/task/MLPredictTaskRunner.java
Labels: backport 2.x, backport 2.14

#2410 add a flag to distinguish duplicate remote model auto deploy and tran…
  plugin/src/main/java/org/opensearch/ml/model/MLModelCache.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelCacheHelper.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
Labels: backport 2.x, backport 2.14

#2415 add deploySetting in registering local models
  ml-algorithms/src/main/java/org/opensearch/ml/engine/ModelHelper.java
Labels: backport 2.x, backport 2.14

#2422 update 2.14 release notes
  release-notes/opensearch-ml-common.release-notes-2.14.0.0.md
Labels: documentation, backport 2.x, backport 2.14

#2416 Fix flaky test of visualization tool
  plugin/src/test/java/org/opensearch/ml/tools/ToolIntegrationWithLLMTest.java
Labels: backport 2.x

#2445 Updating security reachout email
  README.md
Labels: documentation, backport 2.x

#2425 add IT for flow agent with CatIndexTool
  plugin/src/test/java/org/opensearch/ml/rest/RestMLFlowAgentIT.java
Labels: backport 2.x

#2442 hanlde the throttling error in the response header
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/MLSdkAsyncHttpResponseHandler.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/MLSdkAsyncHttpResponseHandlerTest.java
Labels: backport 2.x

#2448 add IT flow agent with search index tool
  plugin/src/test/java/org/opensearch/ml/rest/RestMLFlowAgentIT.java
Labels: backport 2.x

#2469 fix memory CB bugs and upgrade UTs to compatible with core changes
  plugin/src/main/java/org/opensearch/ml/action/prediction/TransportPredictionTaskAction.java
  plugin/src/main/java/org/opensearch/ml/breaker/MemoryCircuitBreaker.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/main/java/org/opensearch/ml/task/MLPredictTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/task/MLTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/utils/MLNodeUtils.java
  plugin/src/test/java/org/opensearch/ml/action/prediction/TransportPredictionTaskActionTests.java
  plugin/src/test/java/org/opensearch/ml/breaker/MemoryCircuitBreakerTests.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelCacheHelperTests.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelManagerTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLMemoryCircuitBreakerIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
  plugin/src/test/java/org/opensearch/ml/task/MLExecuteTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/TaskRunnerTests.java
Labels: backport 2.x

#2470 add a connector blueprint for Amazon Comprehend APIs
  docs/remote_inference_blueprints/amazon_comprehend_connector_blueprint.md
Labels: backport 2.x

#2477 tutorial: generate embedding for arrays of object
  docs/tutorials/semantic_search/generate_embeddings_for_arrays_of_object.md
Labels: backport 2.x

#2474 fix error of ML inference processor in foreach processor
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceIngestProcessor.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceIngestProcessorTests.java
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLInferenceIngestProcessorIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
Labels: backport 2.x
