Repository opensearch-project/ml-commons, pull requests merged in 2024-11, with the labels that each got.

#3195 Fix: typo in MLAlgoParams
  common/src/main/java/org/opensearch/ml/common/input/parameter/MLAlgoParams.java
Labels: backport 2.x

#3205 [FEATURE]Improve test coverage for RemoteModel.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/RemoteModelTest.java
Labels: backport 2.x

#3223 Enable custom start commands and options to resolve GHA issues
  .github/workflows/CI-workflow.yml
Labels: enhancement, backport 1.3, infra, backport 2.x, infrastructure

#3224 [Backport 2.x] Enable custom start commands and options to resolve GHA issues
  .github/workflows/CI-workflow.yml
Labels: enhancement, infra, infrastructure
