Repository opensearch-project/ml-commons, pull requests merged in 2024-09, with the labels that each got.

#2871 Fix custom prompt substitute with List issue in ml inference search response processor
  common/src/main/java/org/opensearch/ml/common/connector/HttpConnector.java
  common/src/main/java/org/opensearch/ml/common/utils/StringUtils.java
  common/src/test/java/org/opensearch/ml/common/connector/HttpConnectorTest.java
  common/src/test/java/org/opensearch/ml/common/utils/StringUtilsTest.java
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessor.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessorTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLInferenceSearchResponseProcessorIT.java
Labels: backport 2.x

#2844 offline batch ingestion API actions and data ingesters
  common/src/main/java/org/opensearch/ml/common/MLTaskType.java
  common/src/main/java/org/opensearch/ml/common/transport/batch/MLBatchIngestionAction.java
  common/src/main/java/org/opensearch/ml/common/transport/batch/MLBatchIngestionInput.java
  common/src/main/java/org/opensearch/ml/common/transport/batch/MLBatchIngestionRequest.java
  common/src/main/java/org/opensearch/ml/common/transport/batch/MLBatchIngestionResponse.java
  common/src/main/java/org/opensearch/ml/common/utils/StringUtils.java
  common/src/test/java/org/opensearch/ml/common/input/nlp/TextDocsMLInputTest.java
  common/src/test/java/org/opensearch/ml/common/transport/batch/MLBatchIngestionInputTests.java
  common/src/test/java/org/opensearch/ml/common/transport/batch/MLBatchIngestionRequestTests.java
  common/src/test/java/org/opensearch/ml/common/transport/batch/MLBatchIngestionResponseTests.java
  common/src/test/java/org/opensearch/ml/common/utils/StringUtilsTest.java
  memory/src/test/java/org/opensearch/ml/memory/index/InteractionsIndexTests.java
  ml-algorithms/build.gradle
  ml-algorithms/src/main/java/org/opensearch/ml/engine/MLEngineClassLoader.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/annotation/Ingester.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/ingest/AbstractIngestion.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/ingest/Ingestable.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/ingest/OpenAIDataIngestion.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/ingest/S3DataIngestion.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/MLSdkAsyncHttpResponseHandlerTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/ingest/AbstractIngestionTests.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/ingest/S3DataIngestionTests.java
  plugin/src/main/java/org/opensearch/ml/action/batch/TransportBatchIngestionAction.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLBatchIngestAction.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLPredictionAction.java
  plugin/src/main/java/org/opensearch/ml/utils/RestActionUtils.java
  plugin/src/main/plugin-metadata/plugin-security.policy
  plugin/src/test/java/org/opensearch/ml/action/batch/TransportBatchIngestionActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLBatchIngestionActionTests.java
  plugin/src/test/java/org/opensearch/ml/utils/TestHelper.java
Labels: backport 2.x, 2.17, backport 2.17

#2892 output only old fields in get config API
  common/src/main/java/org/opensearch/ml/common/MLConfig.java
Labels: backport 2.x, backport 2.17

#2898 fix http dependency in CancelBatchJobTransportAction
  plugin/src/main/java/org/opensearch/ml/action/tasks/CancelBatchJobTransportAction.java
Labels: backport 2.x, backport 2.17

#2902 add 2.17 release note
  release-notes/opensearch-ml-common.release-notes-2.17.0.0.md
Labels: documentation, backport 2.x, backport 2.17

#2851 Add support for Bedrock Converse API (Anthropic Messages API, Claude 3.5 Sonnet)
  plugin/build.gradle
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRAGSearchProcessorIT.java
  plugin/src/test/resources/org/opensearch/ml/rest/test_data/lincoln.pdf
  plugin/src/test/resources/org/opensearch/ml/rest/test_data/openai_boardwalk.jpg
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/GenerativeQAResponseProcessor.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/ext/GenerativeQAParameters.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/llm/ChatCompletionInput.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/llm/DefaultLlmImpl.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/llm/Llm.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/llm/LlmIOUtil.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/llm/MessageBlock.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/prompt/PromptUtil.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/ext/GenerativeQAParamExtBuilderTests.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/ext/GenerativeQAParametersTests.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/llm/ChatCompletionInputTests.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/llm/DefaultLlmImplTests.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/llm/MessageBlockTests.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/prompt/PromptUtilTests.java
Labels: backport 2.x, backport 2.17

#2903 upgrading bounty castle version
  ml-algorithms/build.gradle
Labels: backport 2.x, backport 2.17

#2900 Support null exception in ErrorMessage
  plugin/src/main/java/org/opensearch/ml/utils/error/ErrorMessage.java
  plugin/src/test/java/org/opensearch/ml/utils/error/ErrorMessageTests.java
Labels: backport 2.x, backport 2.17

#2926 Fix RestMLInferenceSearchResponseProcessorIT: add skip when aws key is null
  plugin/src/test/java/org/opensearch/ml/rest/RestMLInferenceSearchResponseProcessorIT.java
Labels: backport 2.x, backport 2.17

#2933 fix field mapping, add more error handling and remove checking jobId …
  ml-algorithms/src/main/java/org/opensearch/ml/engine/ingest/AbstractIngestion.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/ingest/AbstractIngestionTests.java
  plugin/src/main/java/org/opensearch/ml/action/batch/TransportBatchIngestionAction.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
  plugin/src/main/java/org/opensearch/ml/task/MLPredictTaskRunner.java
  plugin/src/test/java/org/opensearch/ml/action/batch/TransportBatchIngestionActionTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLPredictTaskRunnerTests.java
Labels: backport 2.x, backport 2.17

#2937 fix get batch task bug
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/AwsConnectorExecutor.java
Labels: backport 2.x, backport 2.17

#2944 fix full_response false and no mapping exceptions
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessor.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessorTests.java
Labels: backport 2.x, backport 2.16, backport 2.17

#2955 add bedrock batch job post process function; enhance remote job status parsing
  common/src/main/java/org/opensearch/ml/common/MLTaskState.java
  common/src/main/java/org/opensearch/ml/common/MLTaskType.java
  common/src/main/java/org/opensearch/ml/common/connector/MLPostProcessFunction.java
  common/src/main/java/org/opensearch/ml/common/connector/functions/postprocess/BedrockBatchJobArnPostProcessFunction.java
  common/src/main/java/org/opensearch/ml/common/transport/task/MLCancelBatchJobAction.java
  common/src/test/java/org/opensearch/ml/common/connector/functions/postprocess/BedrockBatchJobArnPostProcessFunctionTest.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/GetTaskTransportAction.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLCancelBatchJobAction.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
  plugin/src/test/java/org/opensearch/ml/action/tasks/GetTaskTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLCancelBatchJobActionTests.java
Labels: backport 2.x, backport 2.17

#2652 Add feature enable setting for controller index
  plugin/src/main/java/org/opensearch/ml/action/controller/CreateControllerTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/controller/DeleteControllerTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/controller/GetControllerTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/controller/UpdateControllerTransportAction.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLCreateControllerAction.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLDeleteControllerAction.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLGetControllerAction.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLUpdateControllerAction.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
  plugin/src/main/java/org/opensearch/ml/settings/MLFeatureEnabledSetting.java
  plugin/src/main/java/org/opensearch/ml/utils/MLExceptionUtils.java
  plugin/src/test/java/org/opensearch/ml/action/controller/CreateControllerTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/controller/DeleteControllerTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/controller/GetControllerTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/controller/UpdateControllerTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelManagerTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLCreateControllerActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLDeleteControllerActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLGetControllerActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLUpdateControllerActionTests.java
Labels: backport 2.x, backport feature/multi_tenancy

#2962 Fix bedrock claude3 blueprint typo
  docs/remote_inference_blueprints/bedrock_connector_anthropic_claude3_blueprint.md
Labels: bug, documentation, backport 2.x, backport 2.16, backport 2.17

#2982 add feature flag for offline batch ingestion
  plugin/src/main/java/org/opensearch/ml/action/batch/TransportBatchIngestionAction.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/CancelBatchJobTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/GetTaskTransportAction.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLGetTaskAction.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLPredictionAction.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
  plugin/src/main/java/org/opensearch/ml/settings/MLFeatureEnabledSetting.java
  plugin/src/main/java/org/opensearch/ml/utils/MLExceptionUtils.java
  plugin/src/test/java/org/opensearch/ml/action/batch/TransportBatchIngestionActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/tasks/CancelBatchJobTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/tasks/GetTaskTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLPredictionActionTests.java
Labels: backport 2.x

#2980 Prevents Locale Code build failures #2967
  common/src/main/java/org/opensearch/ml/common/connector/ConnectorAction.java
  common/src/main/java/org/opensearch/ml/common/input/parameter/clustering/RCFSummarizeParams.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLAgentExecutor.java
  plugin/src/main/java/org/opensearch/ml/action/batch/TransportBatchIngestionAction.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLPredictionAction.java
Labels: infra, backport 2.x

#2985 Fix ml inference ingest processor always return list using JsonPath
  common/build.gradle
  common/src/main/java/org/opensearch/ml/common/utils/StringUtils.java
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceIngestProcessor.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceIngestProcessorTests.java
Labels: backport 2.14, backport 2.15, backport 2.16

#2997 add 2.17.1 release notes
  release-notes/opensearch-ml-common.release-notes-2.17.1.0.md
Labels: backport main
