Repository opensearch-project/ml-commons, pull requests merged in 2024-04, with the labels that each got.

#2294 set only_run_on_ml_node default value to false
  ml-algorithms/src/test/java/org/opensearch/ml/engine/httpclient/MLHttpClientFactoryTests.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
Labels: backport 2.x, backport 2.13

#2299 agent out of the setting only_run_on_ml_node
  plugin/src/main/java/org/opensearch/ml/cluster/DiscoveryNodeHelper.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
  plugin/src/test/java/org/opensearch/ml/cluster/DiscoveryNodeHelperTests.java
Labels: backport 2.x, backport 2.13

#2304 guardrails npe
  common/src/main/java/org/opensearch/ml/common/model/MLGuard.java
  common/src/test/java/org/opensearch/ml/common/model/MLGuardTests.java
Labels: backport 2.x, backport 2.13

#2312 remove checkstyle
  plugin/build.gradle
Labels: backport 2.x, backport 2.13

#2320 Fix connector can use subfield of secrectArn to bypass extraction of credential from AWS
  common/src/main/java/org/opensearch/ml/common/transport/connector/MLCreateConnectorInput.java
  common/src/test/java/org/opensearch/ml/common/transport/connector/MLCreateConnectorInputTests.java
Labels: backport 2.x

#2323 Revert adding subfield filter in MLCreateConnectorInput
  common/src/main/java/org/opensearch/ml/common/transport/connector/MLCreateConnectorInput.java
  common/src/test/java/org/opensearch/ml/common/transport/connector/MLCreateConnectorInputTests.java
Labels: backport 2.x

#2336 fix no model group index issue in connector helper notebook
  docs/tutorials/aws/AIConnectorHelper.ipynb
Labels: backport 2.x

#2337 fixing isHidden null issue
  common/src/main/java/org/opensearch/ml/common/utils/StringUtils.java
  common/src/test/java/org/opensearch/ml/common/utils/StringUtilsTest.java
Labels: backport main, backport 2.13

#2341 making Boolean type for isHidden
  plugin/src/main/java/org/opensearch/ml/action/controller/DeleteControllerTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/deploy/TransportDeployModelAction.java
  plugin/src/main/java/org/opensearch/ml/action/models/DeleteModelTransportAction.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/test/java/org/opensearch/ml/action/syncup/TransportSyncUpOnNodeActionTests.java
Labels: backport main, backport 2.13

#2318 Fixes #2317 predict api not working with asymmetric models
  common/src/main/java/org/opensearch/ml/common/input/nlp/TextDocsMLInput.java
  common/src/main/java/org/opensearch/ml/common/input/parameter/textembedding/AsymmetricTextEmbeddingParameters.java
  common/src/test/java/org/opensearch/ml/common/dataset/AsymmetricTextEmbeddingParametersTest.java
  common/src/test/java/org/opensearch/ml/common/input/nlp/TextDocsMLInputTest.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/TextEmbeddingModel.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/text_embedding/TextEmbeddingDenseModelTest.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
Labels: backport 2.x

#2356 feat: Add search index tool
  ml-algorithms/src/main/java/org/opensearch/ml/engine/tools/SearchIndexTool.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/tools/SearchIndexToolTests.java
  ml-algorithms/src/test/resources/org/opensearch/ml/engine/tools/retrieval_tool_search_response.json
  plugin/build.gradle
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/test/java/org/opensearch/ml/rest/RestBaseAgentToolsIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestSearchIndexToolIT.java
  plugin/src/test/resources/org/opensearch/ml/rest/tools/register_flow_agent_of_search_index_tool_request_body.json
Labels: backport 2.x

#2367 Added missing result filter to inference
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/TextEmbeddingModel.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/text_embedding/TextEmbeddingDenseModelTest.java
Labels: backport 2.x

#2205 Initiate MLInferencelngestProcessor
  common/src/main/java/org/opensearch/ml/common/output/model/MLResultDataType.java
  plugin/build.gradle
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/processor/InferenceProcessorAttributes.java
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceIngestProcessor.java
  plugin/src/main/java/org/opensearch/ml/processor/ModelExecutor.java
  plugin/src/test/java/org/opensearch/ml/processor/InferenceProcessorAttributesTests.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceIngestProcessorFactoryTests.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceIngestProcessorTests.java
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLGuardrailsIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLInferenceIngestProcessorIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
  plugin/src/yamlRestTest/java/org/opensearch/ml/plugin/PluginClientYamlTestSuiteIT.java
  plugin/src/yamlRestTest/resources/rest-api-spec/test/10_basic.yml
  plugin/src/yamlRestTest/resources/rest-api-spec/test/20_inference_ingest_processor.yml
Labels: backport 2.x

#2365 Add TTL to un-deploy model automatically
  common/src/main/java/org/opensearch/ml/common/model/MLDeploySetting.java
  common/src/main/java/org/opensearch/ml/common/transport/sync/MLSyncUpInput.java
  common/src/main/java/org/opensearch/ml/common/transport/sync/MLSyncUpNodeResponse.java
  common/src/test/java/org/opensearch/ml/common/model/MLDeployingSettingTests.java
  common/src/test/java/org/opensearch/ml/common/transport/sync/MLSyncUpNodeResponseTest.java
  plugin/src/main/java/org/opensearch/ml/action/prediction/TransportPredictionTaskAction.java
  plugin/src/main/java/org/opensearch/ml/action/syncup/TransportSyncUpOnNodeAction.java
  plugin/src/main/java/org/opensearch/ml/cluster/MLSyncUpCron.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelCache.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelCacheHelper.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/test/java/org/opensearch/ml/action/syncup/TransportSyncUpOnNodeActionTests.java
  plugin/src/test/java/org/opensearch/ml/cluster/MLSyncUpCronTests.java
Labels: backport 2.x

#2378 fix CVE for org.eclipse.core.runtime
  build.gradle
Labels: infra, backport 2.x, v2.14.0
