Repository opensearch-project/ml-commons, pull requests merged in 2024-02, with the labels that each got.

#1961 Move allow model setting from rest to transport
  plugin/src/main/java/org/opensearch/ml/action/register/TransportRegisterModelAction.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLRegisterModelAction.java
  plugin/src/test/java/org/opensearch/ml/action/models/SearchModelITTests.java
  plugin/src/test/java/org/opensearch/ml/action/register/TransportRegisterModelActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRegisterModelActionTests.java
Labels: backport 2.x

#1980 fix empty tool parameter issue
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunner.java
Labels: backport 2.x

#1989 Fix internal connector
  common/src/main/java/org/opensearch/ml/common/transport/model/MLUpdateModelInput.java
  common/src/test/java/org/opensearch/ml/common/transport/model/MLUpdateModelInputTest.java
  plugin/src/main/java/org/opensearch/ml/action/models/UpdateModelTransportAction.java
  plugin/src/test/java/org/opensearch/ml/action/models/UpdateModelTransportActionTests.java
Labels: backport 2.x

#2004 add memory id and interation id for non-verbose
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunner.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunnerTest.java
Labels: backport 2.x

#2009 fix CVE-2023-2976 and upgrade guava to be consistent
  build.gradle
  memory/build.gradle
  ml-algorithms/build.gradle
  plugin/build.gradle
  search-processors/build.gradle
Labels: infra, backport 2.x

#2011 fix CVE-2023-42503 due to djl models
  build.gradle
Labels: infra

#1999 send agent execution response after saving memory
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunner.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunnerTest.java
Labels: backport 2.x

#2010 Update memory if tool output needs to be included in response
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLFlowAgentRunner.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/MLFlowAgentRunnerTest.java
Labels: backport 2.x

#2017 rename memory field names in responses
  common/src/main/java/org/opensearch/ml/common/conversation/ActionConstants.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationsResponseTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetInteractionsResponseTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemoryGetConversationsActionIT.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMemoryGetInteractionsActionIT.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/ext/GenerativeQAParameters.java
Labels: backport 2.x, backport 2.12

#2022 tool uses original input
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunner.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunnerTest.java
Labels: backport 2.x

#2034 adds inputs validation for create memory
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/CreateConversationRequest.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/CreateConversationRequestTests.java
Labels: backport 2.x, backport 2.12

#2056 Add 2.12 release note
  release-notes/opensearch-ml-common.release-notes-2.12.0.0.md
Labels: documentation, backport 2.x, backport 2.12

#2060 add conversational flow agent
  ml-algorithms/build.gradle
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/AgentUtils.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLAgentExecutor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunner.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLConversationalFlowAgentRunner.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLFlowAgentRunner.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/memory/ConversationIndexMemory.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunnerTest.java
Labels: backport 2.x, backport 2.12

#2076 update Unthrotized error code to 401
  memory/src/main/java/org/opensearch/ml/memory/index/ConversationMetaIndex.java
  memory/src/main/java/org/opensearch/ml/memory/index/InteractionsIndex.java
  memory/src/test/java/org/opensearch/ml/memory/ConversationalMemoryHandlerITTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/ConversationMetaIndexITTests.java
Labels: backport 2.x, backport 2.12

#2079 handle null value exceptions when arguments are missing or Null in ca…
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/GenerativeQAResponseProcessor.java
  search-processors/src/test/java/org/opensearch/searchpipelines/questionanswering/generative/GenerativeQAResponseProcessorTests.java
Labels: backport 2.x, backport 2.12

#2082 Update the lucene snapshot url
  build-tools/repositories.gradle
  build.gradle
Labels: backport 2.x, backport 2.12

#2085 Fix bwc issue in remote prediction
  common/src/main/java/org/opensearch/ml/common/FunctionName.java
  common/src/main/java/org/opensearch/ml/common/dataset/MLInputDataType.java
Labels: backport 2.x, backport 2.12

#2103 update release notes 2.12
  release-notes/opensearch-ml-common.release-notes-2.12.0.0.md
Labels: documentation

#2094 fine tune prompt;refactor conversational agent code
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/AgentUtils.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunner.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLConversationalFlowAgentRunner.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLFlowAgentRunner.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/PromptTemplate.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/memory/ConversationIndexMessage.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/memory/MLMemoryManager.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/tools/CatIndexTool.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/AgentUtilsTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/MLChatAgentRunnerTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/memory/ConversationIndexMessageTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/tools/CatIndexToolTests.java
Labels: backport 2.x, backport 2.12

#2115 minor change in prompt template
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/PromptTemplate.java
Labels: backport 2.x, backport 2.12

#2121 refactor memory logs
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/CreateConversationTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/CreateInteractionTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/DeleteConversationTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/GetConversationTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/GetConversationsTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/GetInteractionTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/GetInteractionsTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/GetTracesTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/SearchConversationsTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/SearchInteractionsTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/UpdateConversationTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/UpdateInteractionTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/index/ConversationMetaIndex.java
  memory/src/main/java/org/opensearch/ml/memory/index/InteractionsIndex.java
  memory/src/main/java/org/opensearch/ml/memory/index/OpenSearchConversationalMemoryHandler.java
  memory/src/test/java/org/opensearch/ml/memory/ConversationalMemoryHandlerITTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/ConversationMetaIndexITTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/ConversationMetaIndexTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/InteractionsIndexTests.java
Labels: backport 2.x

#2113 Add verification to rate limiter number field
  common/src/main/java/org/opensearch/ml/common/controller/MLRateLimiter.java
  common/src/test/java/org/opensearch/ml/common/controller/MLRateLimiterTest.java
Labels: backport 2.x

#2127 add tutorial for semantic search with byte quantized vector and Cohere embedding model
  docs/tutorials/semantic_search/conversation_search_with_byte_quantized_vector.md
Labels: backport 2.x

#2143 Updates sample cert and admin keystore
  plugin/src/test/resources/security/sample.pem
  plugin/src/test/resources/security/test-kirk.jks
Labels: backport 2.x

#2167 fix cohere chat blueprint
  docs/remote_inference_blueprints/cohere_connector_chat_blueprint.md
Labels: backport 2.x
