Repository opensearch-project/ml-commons, pull requests merged in 2024-08, with the labels that each got.

#2407 Test: recover search index tool it in multi node cluster
  plugin/build.gradle
Labels: backport 2.x

#2695 add tutorial for Bedrock Guardrails
  docs/tutorials/guardrails/use_bedrock_guardrails.md
Labels: backport 2.x

#2750 [Enhancement]Adding additional info for memory metadata
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
  common/src/main/java/org/opensearch/ml/common/conversation/ConversationMeta.java
  common/src/main/java/org/opensearch/ml/common/conversation/ConversationalIndexConstants.java
  common/src/test/java/org/opensearch/ml/common/conversation/ConversationMetaTests.java
  memory/src/main/java/org/opensearch/ml/memory/ConversationalMemoryHandler.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/CreateConversationRequest.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/CreateConversationTransportAction.java
  memory/src/main/java/org/opensearch/ml/memory/action/conversation/UpdateConversationRequest.java
  memory/src/main/java/org/opensearch/ml/memory/index/ConversationMetaIndex.java
  memory/src/main/java/org/opensearch/ml/memory/index/OpenSearchConversationalMemoryHandler.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/CreateConversationRequestTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/CreateConversationTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationResponseTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationsResponseTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationsTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/ConversationMetaIndexITTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/OpenSearchConversationalMemoryHandlerTests.java
Labels: backport 2.x

#2806 Fix delete local model twice quickly get 500 response issue
  plugin/src/main/java/org/opensearch/ml/action/models/DeleteModelTransportAction.java
Labels: backport 2.x

#2812 Enhance: support skip_validating_missing_parameters in connector
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/ConnectorUtils.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/RemoteConnectorExecutor.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/RemoteConnectorExecutorTest.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
Labels: backport 2.x

#2831 Fix Cohere test.
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRAGSearchProcessorIT.java
Labels: backport 2.x

#2801 Support one_to_one in ML Inference Search Response Processor
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessor.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessorTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLInferenceSearchResponseProcessorIT.java
Labels: backport 2.x, 2.17, v2.17.0

#2847 Fix cohere model input interface cannot validate cohere input issue
  common/src/main/java/org/opensearch/ml/common/utils/ModelInterfaceUtils.java
Labels: bug, backport 2.x, 2.17

#2850 Expose ML Config API
  client/src/main/java/org/opensearch/ml/client/MachineLearningClient.java
  client/src/main/java/org/opensearch/ml/client/MachineLearningNodeClient.java
  client/src/test/java/org/opensearch/ml/client/MachineLearningClientTest.java
  client/src/test/java/org/opensearch/ml/client/MachineLearningNodeClientTest.java
  common/src/main/java/org/opensearch/ml/common/transport/config/MLConfigGetResponse.java
  plugin/src/main/java/org/opensearch/ml/action/config/GetConfigTransportAction.java
  plugin/src/test/java/org/opensearch/ml/action/config/GetConfigTransportActionTests.java
Labels: backport 2.x

#2852 Add processed function for remote inference input dataset parameters to convert it back to its orignal datatype
  common/src/main/java/org/opensearch/ml/common/utils/ModelInterfaceUtils.java
  plugin/src/main/java/org/opensearch/ml/action/prediction/TransportPredictionTaskAction.java
  plugin/src/main/java/org/opensearch/ml/utils/MLNodeUtils.java
  plugin/src/test/java/org/opensearch/ml/utils/MLNodeUtilsTests.java
Labels: bug, backport 2.x, 2.17

#2853 use local_regex as default type for guardrails
  common/src/main/java/org/opensearch/ml/common/model/Guardrails.java
  common/src/test/java/org/opensearch/ml/common/model/GuardrailsTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLGuardrailsIT.java
Labels: backport 2.x, backport 2.15, backport 2.16

#2858 Agent execution error in json format
  plugin/src/main/java/org/opensearch/ml/rest/RestMLExecuteAction.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLExecuteActionTests.java
Labels: backport 2.x
