Repository opensearch-project/ml-commons, pull requests merged in 2025-01, with the labels that each got.

#3313 Force version 3.29.0 of org.eclipse.core.runtime to address CVE vulnerabilities
  plugin/build.gradle
Labels: backport 2.x

#3258 Tutorial for using Asymmetric models
  docs/tutorials/semantic_search/asymmetric_embedding_model.md
Labels: backport 2.x

#3320 Upgraded software.amazon.awssdk from 2.25.40 to 2.29.0 to address CVE…
  ml-algorithms/build.gradle
Labels: backport 2.x

#3324 Remove ignore decorator for testCohereClassifyModel
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
Labels: backport 2.x

#3329 Revert Text Block changes from "Enhance validation for create connector API" #3260
  common/src/test/java/org/opensearch/ml/common/connector/ConnectorActionTest.java
  common/src/test/java/org/opensearch/ml/common/transport/connector/MLCreateConnectorInputTests.java
Labels: backport 2.x

#3296 fix post_process_function on rerank_pipeline_with_bge-rerank-m3-v2_model_deployed_on_Sagemaker.md
  docs/tutorials/rerank/rerank_pipeline_with_bge-rerank-m3-v2_model_deployed_on_Sagemaker.md
Labels: backport 2.x

#3278 add tutorials for cross encoder models on Amazon Bedrock
  docs/tutorials/rerank/rerank_pipeline_with_Amazon_Rerank_model_on_Amazon_Bedrock.md
  docs/tutorials/rerank/rerank_pipeline_with_Cohere_Rerank_model_on_Amazon_Bedrock.md
Labels: backport 2.x

#3315 Revert "Add application_type to ConversationMeta; update tests (#3282)"
  common/src/main/java/org/opensearch/ml/common/conversation/ConversationMeta.java
  common/src/test/java/org/opensearch/ml/common/conversation/ConversationMetaTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationResponseTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationsResponseTests.java
  memory/src/test/java/org/opensearch/ml/memory/action/conversation/GetConversationsTransportActionTests.java
  memory/src/test/java/org/opensearch/ml/memory/index/OpenSearchConversationalMemoryHandlerTests.java
Labels: backport 2.x

#3234 Fix: typo in Memory interface
  spi/src/main/java/org/opensearch/ml/common/spi/memory/Memory.java
Labels: backport 2.x

#3307 Primary setup for Multi-tenancy
  .github/workflows/CI-workflow.yml
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
  common/src/main/java/org/opensearch/ml/common/connector/AbstractConnector.java
  common/src/main/java/org/opensearch/ml/common/connector/Connector.java
  common/src/main/java/org/opensearch/ml/common/input/Constants.java
  common/src/main/java/org/opensearch/ml/common/settings/SettingsChangeListener.java
  common/src/main/java/org/opensearch/ml/common/transport/connector/MLConnectorGetRequest.java
  common/src/main/resources/index-mappings/ml_agent.json
  common/src/main/resources/index-mappings/ml_config.json
  common/src/main/resources/index-mappings/ml_connector.json
  common/src/main/resources/index-mappings/ml_model.json
  common/src/main/resources/index-mappings/ml_model_group.json
  common/src/main/resources/index-mappings/ml_task.json
  gradle/wrapper/gradle-wrapper.properties
  ml-algorithms/build.gradle
  ml-algorithms/src/test/java/org/opensearch/ml/engine/indices/MLIndicesHandlerTest.java
  plugin/build.gradle
  plugin/src/main/java/org/opensearch/ml/action/connector/GetConnectorTransportAction.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLGetConnectorAction.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
  plugin/src/main/java/org/opensearch/ml/settings/MLFeatureEnabledSetting.java
  plugin/src/main/java/org/opensearch/ml/utils/TenantAwareHelper.java
  plugin/src/test/java/org/opensearch/ml/action/prediction/PredictionITTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLGetConnectorActionTests.java
  plugin/src/test/java/org/opensearch/ml/settings/MLFeatureEnabledSettingTests.java
  plugin/src/test/java/org/opensearch/ml/utils/TenantAwareHelperTests.java
Labels: infra

#3382 apply multi-tenancy and sdk client in Connector (Create + Get + Delete)
  client/src/main/java/org/opensearch/ml/client/MachineLearningClient.java
  client/src/main/java/org/opensearch/ml/client/MachineLearningNodeClient.java
  client/src/test/java/org/opensearch/ml/client/MachineLearningClientTest.java
  client/src/test/java/org/opensearch/ml/client/MachineLearningNodeClientTest.java
  common/src/main/java/org/opensearch/ml/common/connector/AwsConnector.java
  common/src/main/java/org/opensearch/ml/common/connector/HttpConnector.java
  common/src/main/java/org/opensearch/ml/common/transport/connector/MLConnectorDeleteRequest.java
  common/src/main/java/org/opensearch/ml/common/transport/connector/MLConnectorGetResponse.java
  common/src/main/java/org/opensearch/ml/common/transport/connector/MLCreateConnectorInput.java
  common/src/test/java/org/opensearch/ml/common/transport/connector/MLConnectorDeleteRequestTests.java
  common/src/test/java/org/opensearch/ml/common/transport/connector/MLConnectorGetResponseTests.java
  common/src/test/java/org/opensearch/ml/common/transport/connector/MLCreateConnectorInputTests.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/MultiTenantPredictable.java
  plugin/src/main/java/org/opensearch/ml/action/connector/DeleteConnectorTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/connector/GetConnectorTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/connector/TransportCreateConnectorAction.java
  plugin/src/main/java/org/opensearch/ml/helper/ConnectorAccessControlHelper.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLCreateConnectorAction.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLDeleteConnectorAction.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
  plugin/src/test/java/org/opensearch/ml/action/connector/DeleteConnectorTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/connector/GetConnectorTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/connector/TransportCreateConnectorActionTests.java
  plugin/src/test/java/org/opensearch/ml/helper/ConnectorAccessControlHelperTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLCreateConnectorActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLDeleteConnectorActionTests.java
  plugin/src/test/java/org/opensearch/ml/utils/TestHelper.java
Labels: backport 2.x

#3386 Add Spotless Check to maintain consistency
  .github/workflows/CI-workflow.yml
Labels: infra

#3400 Add runs-on field to Spotless Check step in CI
  .github/workflows/CI-workflow.yml
Labels: infra, backport 2.x

#3317 [Backport 2.x] Adds preset contentRegistry for IngestProcessors (#3281)
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceIngestProcessorTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLInferenceIngestProcessorIT.java
  plugin/src/test/java/org/opensearch/ml/utils/TestData.java
Labels: backport 2.15, backport 2.16, backport 2.17

#3409 downgrading codecov action
  .github/workflows/CI-workflow.yml
Labels: backport main

#3422 Checkout code from pull request head for spotless
  .github/workflows/CI-workflow.yml
Labels: infra, backport 2.x

#3439 adding multi-tenancy to config api and master key related changes
  common/build.gradle
  common/src/main/java/org/opensearch/ml/common/MLConfig.java
  common/src/main/java/org/opensearch/ml/common/connector/Connector.java
  common/src/main/java/org/opensearch/ml/common/connector/HttpConnector.java
  common/src/main/java/org/opensearch/ml/common/transport/config/MLConfigGetRequest.java
  common/src/main/java/org/opensearch/ml/common/utils/StringUtils.java
  common/src/test/java/org/opensearch/ml/common/MLConfigTest.java
  common/src/test/java/org/opensearch/ml/common/connector/AwsConnectorTest.java
  common/src/test/java/org/opensearch/ml/common/connector/HttpConnectorTest.java
  common/src/test/java/org/opensearch/ml/common/transport/config/MLConfigGetRequestTest.java
  common/src/test/java/org/opensearch/ml/common/transport/config/MLConfigGetResponseTest.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/MLEngine.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/RemoteModel.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/encryptor/Encryptor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/encryptor/EncryptorImpl.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/MLEngineTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/metrics_correlation/MetricsCorrelationTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/question_answering/QuestionAnsweringModelTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/AwsConnectorExecutorTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/RemoteConnectorExecutorTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/RemoteModelTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/sparse_encoding/TextEmbeddingSparseEncodingModelTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/text_embedding/ModelHelperTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/text_embedding/TextEmbeddingDenseModelTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/text_similarity/TextSimilarityCrossEncoderModelTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/tokenize/SparseTokenizerModelTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/encryptor/EncryptorImplTest.java
  plugin/src/main/java/org/opensearch/ml/action/config/GetConfigTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/connector/ExecuteConnectorTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/connector/TransportCreateConnectorAction.java
  plugin/src/main/java/org/opensearch/ml/action/deploy/TransportDeployModelOnNodeAction.java
  plugin/src/main/java/org/opensearch/ml/action/forward/TransportForwardAction.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/CancelBatchJobTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/GetTaskTransportAction.java
  plugin/src/main/java/org/opensearch/ml/cluster/MLSyncUpCron.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelCacheHelper.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLGetConfigAction.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLPredictionAction.java
  plugin/src/main/java/org/opensearch/ml/task/MLPredictTaskRunner.java
  plugin/src/test/java/org/opensearch/ml/action/config/GetConfigTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/connector/UpdateConnectorTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/deploy/TransportDeployModelActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/syncup/TransportSyncUpOnNodeActionTests.java
  plugin/src/test/java/org/opensearch/ml/cluster/MLSyncUpCronTests.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelCacheHelperTests.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelManagerTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLGetConfigActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLPredictionActionTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLExecuteTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLPredictTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTrainAndPredictTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTrainingTaskRunnerTests.java
Labels: backport 2.x

#3380 Undeploy models with no WorkerNodes
  plugin/src/main/java/org/opensearch/ml/action/undeploy/TransportUndeployModelsAction.java
  plugin/src/test/java/org/opensearch/ml/action/undeploy/TransportUndeployModelsActionTests.java
Labels: bug, backport 2.x

#3421 support batch task management by periodically bolling the remote task via a cron job
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
  common/src/main/java/org/opensearch/ml/common/MLTaskState.java
  common/src/main/java/org/opensearch/ml/common/dataset/remote/RemoteInferenceInputDataSet.java
  common/src/main/java/org/opensearch/ml/common/input/remote/RemoteInferenceMLInput.java
  common/src/main/java/org/opensearch/ml/common/transport/task/MLTaskGetRequest.java
  ml-algorithms/build.gradle
  ml-algorithms/src/main/java/org/opensearch/ml/engine/ingest/S3DataIngestion.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/utils/S3Utils.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/utils/S3UtilsTest.java
  plugin/build.gradle
  plugin/src/main/java/org/opensearch/ml/action/tasks/CancelBatchJobTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/GetTaskTransportAction.java
  plugin/src/main/java/org/opensearch/ml/jobs/MLBatchTaskUpdateExtension.java
  plugin/src/main/java/org/opensearch/ml/jobs/MLBatchTaskUpdateJobParameter.java
  plugin/src/main/java/org/opensearch/ml/jobs/MLBatchTaskUpdateJobRunner.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/settings/MLCommonsSettings.java
  plugin/src/main/java/org/opensearch/ml/task/MLPredictTaskRunner.java
  plugin/src/main/java/org/opensearch/ml/task/MLTaskManager.java
  plugin/src/main/resources/META-INF/services/org.opensearch.jobscheduler.spi.JobSchedulerExtension
  plugin/src/test/java/org/opensearch/ml/action/tasks/GetTaskTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/jobs/MLBatchTaskUpdateExtensionTests.java
  plugin/src/test/java/org/opensearch/ml/jobs/MLBatchTaskUpdateJobParameterTests.java
  plugin/src/test/java/org/opensearch/ml/jobs/MLBatchTaskUpdateJobRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLPredictTaskRunnerTests.java
  plugin/src/test/java/org/opensearch/ml/task/MLTaskManagerTests.java
Labels: infra

#3453 add spotless to all build.gradle files
  client/build.gradle
  common/build.gradle
  memory/build.gradle
  ml-algorithms/build.gradle
  search-processors/build.gradle
Labels: backport 2.x

#3339 Add pre and post process functions for Bedrock Rerank API #3254
  common/src/main/java/org/opensearch/ml/common/connector/MLPostProcessFunction.java
  common/src/main/java/org/opensearch/ml/common/connector/MLPreProcessFunction.java
  common/src/main/java/org/opensearch/ml/common/connector/functions/postprocess/BedrockRerankPostProcessFunction.java
  common/src/main/java/org/opensearch/ml/common/connector/functions/preprocess/BedrockRerankPreProcessFunction.java
  common/src/test/java/org/opensearch/ml/common/connector/functions/postprocess/BedrockRerankPostProcessFunctionTest.java
  common/src/test/java/org/opensearch/ml/common/connector/functions/preprocess/BedrockRerankPreProcessFunctionTest.java
Labels: backport 2.x

#3461 fixing connector validation
  plugin/src/main/java/org/opensearch/ml/action/register/TransportRegisterModelAction.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
Labels: backport 2.x, backport 2.19

#3474 addressing client changes due to adding tenantId in the apis
  client/src/main/java/org/opensearch/ml/client/MachineLearningClient.java
  client/src/main/java/org/opensearch/ml/client/MachineLearningNodeClient.java
  client/src/test/java/org/opensearch/ml/client/MachineLearningClientTest.java
  client/src/test/java/org/opensearch/ml/client/MachineLearningNodeClientTest.java
Labels: backport 2.x, backport 2.19
