Repository opensearch-project/ml-commons, pull requests merged in 2025-10, with the labels that each got.

#3715 Onboards to centralized resource access control mechanism for ml-model-group
  common/build.gradle
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
  common/src/main/java/org/opensearch/ml/common/ResourceSharingClientAccessor.java
  common/src/main/java/org/opensearch/ml/common/transport/model_group/MLModelGroupDeleteRequest.java
  common/src/main/java/org/opensearch/ml/common/transport/model_group/MLModelGroupGetRequest.java
  common/src/main/java/org/opensearch/ml/common/transport/model_group/MLUpdateModelGroupRequest.java
  common/src/main/resources/index-mappings/ml_model_group.json
  common/src/test/java/org/opensearch/ml/common/MLModelGroupTest.java
  plugin/build.gradle
  plugin/src/main/java/org/opensearch/ml/action/controller/CreateControllerTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/controller/DeleteControllerTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/controller/GetControllerTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/controller/UpdateControllerTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/deploy/TransportDeployModelAction.java
  plugin/src/main/java/org/opensearch/ml/action/handler/MLSearchHandler.java
  plugin/src/main/java/org/opensearch/ml/action/model_group/DeleteModelGroupTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/model_group/GetModelGroupTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/model_group/SearchModelGroupTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/model_group/TransportUpdateModelGroupAction.java
  plugin/src/main/java/org/opensearch/ml/action/models/DeleteModelTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/models/GetModelTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/models/UpdateModelTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/prediction/TransportPredictionStreamTaskAction.java
  plugin/src/main/java/org/opensearch/ml/action/prediction/TransportPredictionTaskAction.java
  plugin/src/main/java/org/opensearch/ml/action/register/TransportRegisterModelAction.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/CancelBatchJobTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/GetTaskTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/undeploy/TransportUndeployModelsAction.java
  plugin/src/main/java/org/opensearch/ml/action/upload_chunk/MLModelChunkUploader.java
  plugin/src/main/java/org/opensearch/ml/action/upload_chunk/TransportRegisterModelMetaAction.java
  plugin/src/main/java/org/opensearch/ml/helper/ModelAccessControlHelper.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelGroupManager.java
  plugin/src/main/java/org/opensearch/ml/resources/MLResourceSharingExtension.java
  plugin/src/main/resources/META-INF/services/org.opensearch.security.spi.resources.ResourceSharingExtension
  plugin/src/main/resources/plugin-additional-permissions.yml
  plugin/src/main/resources/resource-action-groups.yml
  plugin/src/test/java/org/opensearch/ml/action/controller/CreateControllerTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/controller/DeleteControllerTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/controller/GetControllerTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/controller/UpdateControllerTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/deploy/TransportDeployModelActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/handler/MLSearchHandlerTests.java
  plugin/src/test/java/org/opensearch/ml/action/model_group/DeleteModelGroupTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/model_group/GetModelGroupTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/model_group/SearchModelGroupTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/models/DeleteModelTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/models/GetModelTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/models/UpdateModelTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/prediction/TransportPredictionStreamTaskActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/prediction/TransportPredictionTaskActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/register/TransportRegisterModelActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/tasks/CancelBatchJobTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/tasks/GetTaskTransportActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/undeploy/TransportUndeployModelsActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/upload_chunk/MLModelChunkUploaderTests.java
  plugin/src/test/java/org/opensearch/ml/action/upload_chunk/TransportRegisterModelMetaActionTests.java
  plugin/src/test/java/org/opensearch/ml/helper/ModelAccessControlHelperTests.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelGroupManagerTests.java
  plugin/src/test/java/org/opensearch/ml/resources/MLResourceSharingExtensionTests.java
Labels: v3.3.0

#4247 Update approver matching to be exact match
  .github/workflows/require-approval.yml
Labels: infra

#4248 Fix stream predict with security enabled
  plugin/src/main/java/org/opensearch/ml/rest/RestMLPredictionStreamAction.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLPredictionStreamActionTests.java
Labels: backport 3.3

#4237 fix: use builtin BulkByScrollResponse parser to parse delete by query response in memories
  common/src/main/java/org/opensearch/ml/common/CommonValue.java
  common/src/main/java/org/opensearch/ml/common/MLModelGroup.java
  common/src/main/java/org/opensearch/ml/common/connector/AbstractConnector.java
  common/src/main/java/org/opensearch/ml/common/connector/HttpConnector.java
  common/src/main/java/org/opensearch/ml/common/memorycontainer/MLMemoryContainer.java
  common/src/main/java/org/opensearch/ml/common/memorycontainer/MLMemoryHistory.java
  common/src/main/java/org/opensearch/ml/common/memorycontainer/MLMemorySession.java
  common/src/main/java/org/opensearch/ml/common/memorycontainer/MLWorkingMemory.java
  common/src/main/java/org/opensearch/ml/common/memorycontainer/MemoryContainerConstants.java
  common/src/main/java/org/opensearch/ml/common/transport/memorycontainer/MLCreateMemoryContainerInput.java
  common/src/main/java/org/opensearch/ml/common/transport/memorycontainer/memory/MLDeleteMemoriesByQueryResponse.java
  common/src/main/java/org/opensearch/ml/common/transport/memorycontainer/memory/MLUpdateMemoryContainerInput.java
  common/src/main/resources/index-mappings/ml_memory_container.json
  common/src/main/resources/index-mappings/ml_memory_long_term.json
  common/src/main/resources/index-mappings/ml_memory_working.json
  common/src/test/java/org/opensearch/ml/common/transport/memorycontainer/memory/MLAddMemoriesInputTest.java
  common/src/test/java/org/opensearch/ml/common/transport/memorycontainer/memory/MLDeleteMemoriesByQueryResponseTest.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/indices/MLIndicesHandler.java
  plugin/src/main/java/org/opensearch/ml/action/memorycontainer/TransportCreateMemoryContainerAction.java
  plugin/src/main/java/org/opensearch/ml/action/memorycontainer/TransportUpdateMemoryContainerAction.java
  plugin/src/main/java/org/opensearch/ml/action/memorycontainer/memory/MemoryProcessingService.java
  plugin/src/main/java/org/opensearch/ml/action/memorycontainer/memory/TransportDeleteMemoriesByQueryAction.java
  plugin/src/main/java/org/opensearch/ml/action/model_group/TransportUpdateModelGroupAction.java
  plugin/src/main/java/org/opensearch/ml/helper/ConnectorAccessControlHelper.java
  plugin/src/main/java/org/opensearch/ml/helper/MemoryContainerHelper.java
  plugin/src/main/java/org/opensearch/ml/helper/ModelAccessControlHelper.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLGetMemoryAction.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLSearchMemoryContainerAction.java
  plugin/src/test/java/org/opensearch/ml/action/memorycontainer/memory/TransportDeleteMemoriesByQueryActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLSearchMemoryContainerActionTests.java
Labels: backport 3.3

#4255 fix wrong field name in get working memory API
  common/src/main/java/org/opensearch/ml/common/memorycontainer/MLLongTermMemory.java
  common/src/main/java/org/opensearch/ml/common/memorycontainer/MLWorkingMemory.java
  common/src/main/java/org/opensearch/ml/common/memorycontainer/MemoryContainerConstants.java
  common/src/main/java/org/opensearch/ml/common/memorycontainer/MemoryStrategyType.java
  common/src/main/java/org/opensearch/ml/common/memorycontainer/PayloadType.java
  common/src/main/java/org/opensearch/ml/common/transport/memorycontainer/memory/MLAddMemoriesInput.java
  common/src/main/java/org/opensearch/ml/common/transport/memorycontainer/memory/MLGetMemoryResponse.java
  common/src/main/java/org/opensearch/ml/common/transport/memorycontainer/memory/MLSearchMemoriesInput.java
  common/src/main/java/org/opensearch/ml/common/transport/memorycontainer/memory/MLSearchMemoriesResponse.java
  common/src/main/java/org/opensearch/ml/common/transport/memorycontainer/memory/MemorySearchResult.java
  common/src/main/resources/index-mappings/ml_memory_long_term.json
  common/src/main/resources/index-mappings/ml_memory_working.json
  common/src/test/java/org/opensearch/ml/common/memorycontainer/MLLongTermMemoryTest.java
  common/src/test/java/org/opensearch/ml/common/memorycontainer/MemoryTypeTest.java
  common/src/test/java/org/opensearch/ml/common/transport/memorycontainer/memory/MLAddMemoriesInputTest.java
  common/src/test/java/org/opensearch/ml/common/transport/memorycontainer/memory/MLAddMemoriesRequestTest.java
  common/src/test/java/org/opensearch/ml/common/transport/memorycontainer/memory/MLGetMemoryResponseTest.java
  common/src/test/java/org/opensearch/ml/common/transport/memorycontainer/memory/MLSearchMemoriesResponseTest.java
  common/src/test/java/org/opensearch/ml/common/transport/memorycontainer/memory/MemorySearchResultTest.java
  plugin/src/main/java/org/opensearch/ml/action/memorycontainer/memory/MemoryInfo.java
  plugin/src/main/java/org/opensearch/ml/action/memorycontainer/memory/MemoryOperationsService.java
  plugin/src/main/java/org/opensearch/ml/action/memorycontainer/memory/TransportAddMemoriesAction.java
  plugin/src/main/java/org/opensearch/ml/action/memorycontainer/memory/TransportSearchMemoriesAction.java
  plugin/src/test/java/org/opensearch/ml/action/memorycontainer/memory/MemoryInfoTests.java
  plugin/src/test/java/org/opensearch/ml/action/memorycontainer/memory/MemorySearchServiceTests.java
  plugin/src/test/java/org/opensearch/ml/action/memorycontainer/memory/MemoryTypeStrategyMappingTest.java
  plugin/src/test/java/org/opensearch/ml/action/memorycontainer/memory/TransportAddMemoriesActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/memorycontainer/memory/TransportGetMemoryActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLSearchMemoriesActionTests.java
Labels: backport 3.3

#4278 fix json parsing error by extracing json first; add for each processor; support input processor
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/RemoteConnectorExecutor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/processor/MLForEachProcessor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/processor/MLProcessorType.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/processor/ProcessorChain.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/RemoteConnectorExecutorTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/processor/MLForEachProcessorTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/processor/MLProcessorChainTest.java
  plugin/src/main/java/org/opensearch/ml/action/memorycontainer/memory/MemoryProcessingService.java
  plugin/src/test/java/org/opensearch/ml/action/memorycontainer/memory/MemoryProcessingServiceAdditionalTests.java
Labels: backport 3.3
