Repository opensearch-project/ml-commons, pull requests merged in 2025-09, with the labels that each got.

#4118 Fix missing RAG response from generative_qa_parameters
  plugin/src/test/java/org/opensearch/ml/rest/RestGenerativeSearchResponseIT.java
  search-processors/src/main/java/org/opensearch/searchpipelines/questionanswering/generative/GenerativeSearchResponse.java
Labels: v3.3.0

#4003 Add global resource support
  .gitignore
  common/src/main/java/org/opensearch/ml/common/settings/MLCommonsSettings.java
  ml-algorithms/build.gradle
  ml-algorithms/src/main/java/org/opensearch/ml/engine/MLEngine.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/Predictable.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/RemoteModel.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/MLEngineTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/RemoteModelTest.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/text_embedding/TextEmbeddingDenseModelTest.java
  plugin/build.gradle
  plugin/src/main/java/org/opensearch/ml/action/config/GetConfigTransportAction.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/test/java/org/opensearch/ml/action/config/GetConfigTransportActionTests.java
Labels: infra

#4182 make MLSdkAsyncHttpResponseHandler return IllegalArgumentException
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/remote/MLSdkAsyncHttpResponseHandler.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/remote/MLSdkAsyncHttpResponseHandlerTest.java
Labels: backport 2.19, backport 3.0, backport 3.1, backport 3.2
