Repository opensearch-project/ml-commons, pull requests merged in 2025-04, with the labels that each got.

#3543 Add more logs to troubleshot flaky test
  plugin/src/test/java/org/opensearch/ml/tools/ToolIntegrationWithLLMTest.java
Labels: backport 2.x

#3700 fix config index masterkey pull up for multi-tenancy
  ml-algorithms/src/main/java/org/opensearch/ml/engine/encryptor/EncryptorImpl.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/encryptor/EncryptorImplTest.java
Labels: backport 2.19

#3704 add sdk implementation to the connector search
  plugin/src/main/java/org/opensearch/ml/action/connector/SearchConnectorTransportAction.java
Labels: backport 2.19

#3707 sdk client implementation for search connector, model group and task
  plugin/src/main/java/org/opensearch/ml/action/connector/SearchConnectorTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/model_group/SearchModelGroupTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/SearchTaskTransportAction.java
  plugin/src/test/java/org/opensearch/ml/action/tasks/SearchTaskTransportActionTests.java
Labels: backport 2.19

#3718 Add more release notes to 3.0.0-beta-1 release
  release-notes/opensearch-ml-common.release-notes-3.0.0.0-beta1.md
Labels: documentation

#3768 Directly return Response objects from metadata client responses
  plugin/src/main/java/org/opensearch/ml/action/agents/DeleteAgentTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/agents/GetAgentTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/agents/TransportRegisterAgentAction.java
  plugin/src/main/java/org/opensearch/ml/action/agents/TransportSearchAgentAction.java
  plugin/src/main/java/org/opensearch/ml/action/connector/DeleteConnectorTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/connector/TransportCreateConnectorAction.java
  plugin/src/main/java/org/opensearch/ml/action/connector/UpdateConnectorTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/handler/MLSearchHandler.java
  plugin/src/main/java/org/opensearch/ml/action/model_group/DeleteModelGroupTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/model_group/GetModelGroupTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/model_group/TransportUpdateModelGroupAction.java
  plugin/src/main/java/org/opensearch/ml/action/models/DeleteModelTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/models/GetModelTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/models/UpdateModelTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/DeleteTaskTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/GetTaskTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/undeploy/TransportUndeployModelAction.java
  plugin/src/main/java/org/opensearch/ml/action/undeploy/TransportUndeployModelsAction.java
  plugin/src/main/java/org/opensearch/ml/cluster/MLSyncUpCron.java
  plugin/src/main/java/org/opensearch/ml/helper/ConnectorAccessControlHelper.java
  plugin/src/main/java/org/opensearch/ml/helper/ModelAccessControlHelper.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelGroupManager.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/main/java/org/opensearch/ml/task/MLTaskManager.java
Labels: backport 3.0

#3781 initial commit for MCP server in OpenSearch
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/action/MLMcpToolsRegisterOnNodesAction.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/action/MLMcpToolsRemoveOnNodesAction.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/requests/register/MLMcpToolsRegisterNodeRequest.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/requests/register/MLMcpToolsRegisterNodesRequest.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/requests/register/McpTool.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/requests/register/McpTools.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/requests/remove/MLMcpToolsRemoveNodeRequest.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/requests/remove/MLMcpToolsRemoveNodesRequest.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/responses/register/MLMcpRegisterNodeResponse.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/responses/register/MLMcpRegisterNodesResponse.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/responses/remove/MLMcpRemoveNodeResponse.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/responses/remove/MLMcpRemoveNodesResponse.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/requests/register/MLMcpToolsRegisterNodeRequestTest.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/requests/register/MLMcpToolsRegisterNodesRequestTest.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/requests/register/McpToolTest.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/requests/register/McpToolsTest.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/requests/remove/MLMcpToolsRemoveNodeRequestTest.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/requests/remove/MLMcpToolsRemoveNodesRequestTest.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/responses/register/MLMcpRegisterNodeResponseTest.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/responses/register/MLMcpRegisterNodesResponseTest.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/responses/remove/MLMcpRemoveNodeResponseTest.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/responses/remove/MLMcpRemoveNodesResponseTest.java
  ml-algorithms/build.gradle
  ml-algorithms/src/main/java/org/opensearch/ml/engine/tools/SearchIndexTool.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/tools/SearchIndexToolTests.java
  plugin/build.gradle
  plugin/src/main/java/org/opensearch/ml/action/mcpserver/McpAsyncServerHolder.java
  plugin/src/main/java/org/opensearch/ml/action/mcpserver/OpenSearchMcpServerTransportProvider.java
  plugin/src/main/java/org/opensearch/ml/action/mcpserver/TransportMcpToolsRegisterOnNodesAction.java
  plugin/src/main/java/org/opensearch/ml/action/mcpserver/TransportMcpToolsRemoveOnNodesAction.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/main/java/org/opensearch/ml/rest/mcpserver/RestMLRegisterMcpToolsAction.java
  plugin/src/main/java/org/opensearch/ml/rest/mcpserver/RestMLRemoveMcpToolsAction.java
  plugin/src/main/java/org/opensearch/ml/rest/mcpserver/RestMcpConnectionMessageStreamingAction.java
  plugin/src/main/java/org/opensearch/ml/rest/mcpserver/ToolFactoryWrapper.java
  plugin/src/test/java/org/opensearch/ml/action/mcpserver/OpenSearchMcpServerTransportProviderTests.java
  plugin/src/test/java/org/opensearch/ml/action/mcpserver/TransportMcpToolsRegisterOnNodesActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/mcpserver/TransportMcpToolsRemoveOnNodesActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/mcpserver/RestMLRegisterMcpToolsActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/mcpserver/RestMLRemoveMcpToolsActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/mcpserver/RestMcpConnectionMessageStreamingActionTests.java
Labels: backport 3.0

#3794 Remove beta1 qualifier
  build.gradle
Labels: release, v3.0.0, backport main

#3792 Add release note for 3.0
  release-notes/opensearch-ml-common.release-notes-3.0.0.0.md
Labels: documentation, backport 3.0

#3809 upgrade http client to version align with core
  plugin/build.gradle
Labels: backport 3.0

#3810 support customized message endpoint and addressing comments
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/requests/message/MLMcpMessageRequest.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/requests/register/MLMcpToolsRegisterNodesRequest.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/requests/register/McpTool.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/requests/register/McpTools.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/requests/remove/MLMcpToolsRemoveNodeRequest.java
  common/src/main/java/org/opensearch/ml/common/transport/mcpserver/responses/register/MLMcpRegisterNodesResponse.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/requests/message/MLMcpMessageRequestTest.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/requests/register/MLMcpToolsRegisterNodeRequestTest.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/requests/register/MLMcpToolsRegisterNodesRequestTest.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/requests/register/McpToolTest.java
  common/src/test/java/org/opensearch/ml/common/transport/mcpserver/requests/register/McpToolsTest.java
  plugin/build.gradle
  plugin/src/main/java/org/opensearch/ml/action/mcpserver/OpenSearchMcpServerTransportProvider.java
  plugin/src/main/java/org/opensearch/ml/action/mcpserver/TransportMcpToolsRegisterOnNodesAction.java
  plugin/src/main/java/org/opensearch/ml/rest/mcpserver/RestMLRegisterMcpToolsAction.java
  plugin/src/main/java/org/opensearch/ml/rest/mcpserver/RestMcpConnectionMessageStreamingAction.java
  plugin/src/test/java/org/opensearch/ml/action/mcpserver/OpenSearchMcpServerTransportProviderTests.java
  plugin/src/test/java/org/opensearch/ml/action/mcpserver/TransportMcpToolsRegisterOnNodesActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/mcpserver/RestMcpConnectionMessageStreamingActionTests.java
Labels: backport 3.0

#3814 excluding circuit breaker for Agent
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
  plugin/src/main/java/org/opensearch/ml/task/MLTaskRunner.java
  plugin/src/test/java/org/opensearch/ml/model/MLModelManagerTests.java
  plugin/src/test/java/org/opensearch/ml/task/TaskRunnerTests.java
Labels: backport 3.0

#3811 change release note
  release-notes/opensearch-ml-common.release-notes-3.0.0.0.md
Labels: documentation, backport 3.0
