Repository opensearch-project/ml-commons, pull requests merged in 2025-02, with the labels that each got.

#3489 adding tenantId in the agent registration request for multi-tenancy
  plugin/src/main/java/org/opensearch/ml/rest/RestMLRegisterAgentAction.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRegisterAgentActionTests.java
Labels: backport 2.x, backport 2.19

#3492 Run the Get Connector request in a stashed threadcontext
  plugin/src/main/java/org/opensearch/ml/model/MLModelManager.java
Labels: backport 2.x, backport 2.19

#3457 Release note for 2.19.0 release
  release-notes/opensearch-ml-common.release-notes-2.19.0.0.md
Labels: documentation, backport 2.x, backport 2.19

#3505 Backport/backport 3380 to feature/multi tenancy
  plugin/src/main/java/org/opensearch/ml/action/undeploy/TransportUndeployModelsAction.java
  plugin/src/test/java/org/opensearch/ml/action/undeploy/TransportUndeployModelsActionTests.java
Labels: documentation, infra

#3513 Remove the integ test case cause cohere classify is deprecated in its llm service
  plugin/src/test/java/org/opensearch/ml/rest/RestMLRemoteInferenceIT.java
Labels: backport 2.x

#3518 fix null decrypted credential while getting batch predict job status
  plugin/src/main/java/org/opensearch/ml/action/tasks/GetTaskTransportAction.java
Labels: backport 2.19

#3531 adding tenantId for inline connector in model registration
  plugin/src/main/java/org/opensearch/ml/action/register/TransportRegisterModelAction.java
Labels: backport 2.x, backport 2.19

#3542 [Release 3.0] Add JDK23 support to github actions
  .github/workflows/CI-workflow.yml
Labels: release, infra, v3.0.0

#3523 [main] Undeploy code change: add edge case for models that are marked as not found in cache #3520
  plugin/src/main/java/org/opensearch/ml/action/undeploy/TransportUndeployModelsAction.java
  plugin/src/test/java/org/opensearch/ml/action/undeploy/TransportUndeployModelsActionTests.java
Labels: backport 2.x, backport 2.19

#3561 [BACKPORT TO 2.X] updating bulk update to use sdkclient (#3546)
  plugin/src/main/java/org/opensearch/ml/action/undeploy/TransportUndeployModelAction.java
  plugin/src/main/java/org/opensearch/ml/cluster/MLSyncUpCron.java
  plugin/src/test/java/org/opensearch/ml/action/undeploy/TransportUndeployModelActionTests.java
Labels: backport 2.19

#3564 fix ignoreFailure flag in ml inference search processors
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceSearchRequestProcessor.java
  plugin/src/main/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessor.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceSearchRequestProcessorTests.java
  plugin/src/test/java/org/opensearch/ml/processor/MLInferenceSearchResponseProcessorTests.java
Labels: backport 2.x, backport 2.17, backport 2.18, backport 2.19

#3571 release note for 2.19.1
  release-notes/opensearch-ml-common.release-notes-2.19.1.0.md
Labels: backport 2.x, backport 2.19

#3575 address CVEs CVE-2025-25193, CVE-2025-24970, CVE-2024-57699
  common/build.gradle
  memory/build.gradle
  ml-algorithms/build.gradle
  plugin/build.gradle
Labels: backport 2.x, backport 2.19

#3512 Add instructions to run OpenSearch from source code
  DEVELOPER_GUIDE.md
  docs/docker/dev-docker-compose.yml
Labels: documentation
