Repository opensearch-project/ml-commons, pull requests merged in 2025-08, with the labels that each got.

#4006 Initiate query planning tool
  ml-algorithms/src/main/java/org/opensearch/ml/engine/tools/QueryPlanningTool.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/tools/QueryPlanningToolTests.java
  plugin/build.gradle
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/test/java/org/opensearch/ml/rest/RestQueryPlanningToolIT.java
Labels: v3.2.0

#4057 adding more unit tests and upgrading jacoco
  build.gradle
  plugin/src/test/java/org/opensearch/ml/action/memorycontainer/TransportCreateMemoryContainerActionTests.java
Labels: infra

#4075 Refactor client.bulk to sdkClient.bulkDataObjectAsync when undeploying models with empty model cache edgecase
  plugin/src/main/java/org/opensearch/ml/action/undeploy/TransportUndeployModelsAction.java
  plugin/src/test/java/org/opensearch/ml/action/undeploy/TransportUndeployModelsActionTests.java
Labels: backport 2.19

#4089 Refactor checks to ML Indices to return true when MultiTenancy enabled
  ml-algorithms/src/main/java/org/opensearch/ml/engine/algorithms/agent/MLAgentExecutor.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/indices/MLIndicesHandler.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/indices/MLIndicesHandlerTest.java
  plugin/src/main/java/org/opensearch/ml/action/connector/ExecuteConnectorTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/handler/MLSearchHandler.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/CancelBatchJobTransportAction.java
  plugin/src/main/java/org/opensearch/ml/action/tasks/GetTaskTransportAction.java
  plugin/src/main/java/org/opensearch/ml/plugin/MachineLearningPlugin.java
  plugin/src/test/java/org/opensearch/ml/action/models/SearchModelTransportActionTests.java
Labels: backport 2.19

#4096 Fix Default prompt of Query Planner Tool
  ml-algorithms/src/main/java/org/opensearch/ml/engine/tools/QueryPlanningPromptTemplate.java
  ml-algorithms/src/main/java/org/opensearch/ml/engine/tools/QueryPlanningTool.java
  ml-algorithms/src/test/java/org/opensearch/ml/engine/tools/QueryPlanningToolTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestQueryPlanningToolIT.java
Labels: backport 3.2

#4071 [Bug] fix: Suppres NONE event in add memories response and add UT coverage
  plugin/build.gradle
  plugin/src/main/java/org/opensearch/ml/action/memorycontainer/memory/MemoryOperationsService.java
  plugin/src/main/java/org/opensearch/ml/rest/RestMLAddMemoriesAction.java
  plugin/src/test/java/org/opensearch/ml/action/memorycontainer/memory/MemoryOperationsServiceTests.java
  plugin/src/test/java/org/opensearch/ml/action/memorycontainer/memory/TransportDeleteMemoryActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/memorycontainer/memory/TransportSearchMemoriesActionTests.java
  plugin/src/test/java/org/opensearch/ml/action/memorycontainer/memory/TransportUpdateMemoryActionTests.java
  plugin/src/test/java/org/opensearch/ml/helper/MemoryEmbeddingHelperTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLAddMemoriesActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLDeleteMemoryActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLSearchMemoriesActionTests.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLUpdateMemoryActionTests.java
  plugin/src/test/java/org/opensearch/ml/utils/MemorySearchQueryBuilderTests.java
Labels: backport 3.2

#4108 fix: add current low ut coverage class to jacocoExclusions to unblock CI
  plugin/build.gradle
Labels: backport 3.2

#4139 Update maintainer list
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: documentation, infra
