Repository opensearch-project/ml-commons, pull requests merged in 2025-03, with the labels that each got.

#3591 Relax parameter restriction in claude v2 model
  common/src/main/java/org/opensearch/ml/common/utils/ModelInterfaceUtils.java
Labels: backport 2.x, backport 2.19

#3597 Use model type to check local or remote model
  plugin/src/main/java/org/opensearch/ml/rest/RestMLPredictionAction.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLPredictionActionTests.java
Labels: backport 2.x, backport 2.11, backport 2.12, backport 2.13, backport 2.14, backport 2.15, backport 2.16, backport 2.17, backport 2.18, backport 2.19

#3641 Add release note 3.0 alpha1
  release-notes/opensearch-ml-common.release-notes-3.0.0.0-alpha1.md
Labels: documentation

#3657 Add breaking change to release note
  release-notes/opensearch-ml-common.release-notes-3.0.0.0-alpha1.md
Labels: documentation

#3655 fix failure ITs and syntax error in CI workflow
  .github/workflows/CI-workflow.yml
  common/src/test/java/org/opensearch/ml/common/transport/agent/MLAgentGetResponseTest.java
  common/src/test/java/org/opensearch/ml/common/transport/agent/MLRegisterAgentRequestTest.java
  docs/tutorials/agent_framework/build_your_own_chatbot.md
  ml-algorithms/src/test/java/org/opensearch/ml/engine/algorithms/agent/AgentUtilsTest.java
  plugin/src/test/java/org/opensearch/ml/rest/MLCommonsRestTestCase.java
  plugin/src/test/java/org/opensearch/ml/rest/RestMLFlowAgentIT.java
  plugin/src/test/java/org/opensearch/ml/rest/SecureMLRestIT.java
  plugin/src/test/java/org/opensearch/ml/utils/TestHelper.java
Labels: infra

#3658 Add parser for ModelTensorOutput and ModelTensors
  common/src/main/java/org/opensearch/ml/common/output/model/ModelTensorOutput.java
  common/src/main/java/org/opensearch/ml/common/output/model/ModelTensors.java
  common/src/test/java/org/opensearch/ml/common/output/model/ModelTensorOutputTest.java
  common/src/test/java/org/opensearch/ml/common/output/model/ModelTensorsTest.java
Labels: backport 2.x, backport 2.11, backport 2.12, backport 2.13, backport 2.14, backport 2.15, backport 2.16, backport 2.17, backport 2.18, backport 2.19

#3671 Fix model search for deleting connector
  plugin/src/main/java/org/opensearch/ml/action/connector/DeleteConnectorTransportAction.java
  plugin/src/main/java/org/opensearch/ml/model/MLModelGroupManager.java
Labels: backport 2.19

#3674 revert CI workflow changes
  .github/workflows/CI-workflow.yml
Labels: infra

#3684 Version bump to 3.0.0-beta1
  build.gradle
  ml-algorithms/build.gradle
Labels: infra

#3683 add release note for 3.0 beta1 release
  release-notes/opensearch-ml-common.release-notes-3.0.0.0-beta1.md
Labels: documentation
